/* 
 * Practical Color Theory for People Who Code
 * http://tallys.github.io/color-theory/?imm_mid=0e31ae&cmp=em-web-na-na-newsltr_20160427
 */
.ui-dialog-titlebar,
.primary-color {
  background-color: gray; }

.primary-neutral {
  background-color: gray; }

.primary-black {
  background-color: #1d1d1d; }

.primary-white {
  background-color: #e2e2e2; }

.primary-tint {
  background-color: #cbcbcb; }

.secondary-color {
  background-color: gray; }

.secondary-neutral {
  background-color: gray; }

.secondary-black {
  background-color: #1d1d1d; }

.secondary-white {
  background-color: #e2e2e2; }

.secondary-tint {
  background-color: #cbcbcb; }

.circle {
  color: black;
  border: 1px solid black;
  min-width: 12px; }

h1, h2, h3, h4, h5, h6 {
  padding: 10px;
  margin: 0; }

div.section {
  border: 2px solid #1d1d1d;
  border-radius: 10px 10px 0 0;
  padding-bottom: 2px;
  max-width: 555px; }
  div.section h1, div.section h2, div.section h3, div.section h4, div.section h5, div.section h6 {
    color: #1d1d1d;
    background-color: gray;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid #1d1d1d; }

select, input {
  color: gray;
  background-color: #f8f8f8; }

body {
  font: 100% Helvetica, sans-serif;
  color: gray;
  background-color: #e2e2e2; }

.accordion {
  display: table;
  width: 100%; }
  .accordion .ui-accordion-header {
    position: relative; }
  .accordion h6.ui-accordion-header,
  .accordion span.ui-accordion-header {
    color: #1d1d1d;
    border-color: #cbcbcb;
    background-color: #e2e2e2;
    border-style: outset;
    border-radius: 5px 5px 0 0;
    margin: 0; }
  .accordion > div {
    border: 1px solid #1d1d1d; }

input[disabled],
select[disabled] {
  color: gray;
  background-color: #cbcbcb; }

.black {
  color: gray; }

.grey {
  color: #cbcbcb; }

option.location:disabled {
  color: #1d1d1d;
  background-color: #cbcbcb;
  font-weight: bold; }

select.mythic,
option.mythic {
  color: darkorange; }

select.heroUpgrade,
option.heroUpgrade {
  color: purple; }

select.event,
option.event {
  color: cornflowerblue; }

thead tr {
  background-color: black;
  color: white; }

tr.alternating:nth-child(odd) {
  background-color: lightgrey; }

button,
input[type=button] {
  color: gray;
  border-color: #cbcbcb;
  background-color: #e2e2e2;
  border-radius: 5px;
  border-width: 3px;
  padding: 5px 10px;
  margin: 5px 0; }

/* states and images */
.ui-icon {
  width: 16px;
  height: 16px;
  background-image: url("../../../Content/themes/base/images/ui-icons_222222_256x240.png"); }

.ui-state-default .ui-icon {
  background-image: url("../../../Content/themes/base/images/ui-icons_888888_256x240.png"); }

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-image: url("../../../Content/themes/base/images/ui-icons_454545_256x240.png"); }

.ui-state-active .ui-icon {
  background-image: url("../../../Content/themes/base/images/ui-icons_454545_256x240.png"); }

.ui-state-highlight .ui-icon {
  background-image: url("../../../Content/themes/base/images/ui-icons_2e83ff_256x240.png"); }

.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
  background-image: url("../../../Content/themes/base/images/ui-icons_cd0a0a_256x240.png"); }

.ui-accordion .ui-accordion-icons {
  padding-left: 2.2em; }
  .ui-accordion .ui-accordion-icons .ui-accordion-icons {
    padding-left: 2.2em; }

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px; }

.ui-icon-triangle-1-e {
  background-position: -32px -16px; }

.ui-icon-triangle-1-s {
  background-position: -64px -16px; }

.ui-icon-closethick {
  background-position: -96px -128px; }

h2 .ui-icon {
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5); }

.label {
  font-weight: bold;
  background-color: #cbcbcb; }

#content i {
  text-decoration: none;
  font-style: normal;
  color: #ff0000;
  font-weight: bold; }

#content b {
  text-decoration: none;
  font-style: normal;
  color: #0000ff;
  font-weight: bold; }

.ui-dialog {
  border: 1px solid gray; }
  .ui-dialog .ui-dialog-title {
    color: #1d1d1d;
    font-weight: bold; }
  .ui-dialog .ui-dialog-titlebar {
    padding: .4em 1em;
    position: relative; }
  .ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 20px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px; }
  .ui-dialog .ui-dialog-header {
    border: 1px solid gray;
    background: gray url("../../../Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
    color: #222222;
    font-weight: bold; }
    .ui-dialog .ui-dialog-header .ui-icon {
      background-image: url("../../../Content/themes/base/images/ui-icons_222222_256x240.png"); }
  .ui-dialog .ui-dialog-content {
    background-color: #e2e2e2;
    color: #1d1d1d; }
    .ui-dialog .ui-dialog-content .ui-icon {
      background-image: url("../../../Content/themes/base/images/ui-icons_222222_256x240.png"); }
  .ui-dialog .ui-dialog-buttonset {
    background-color: #e2e2e2; }
  .ui-dialog .ui-button-icon-only .ui-icon,
  .ui-dialog .ui-button-icons-only .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 50%;
    margin-left: -8px; }
  .ui-dialog .ui-button-icon-only .ui-button-text,
  .ui-dialog .ui-button-icon-only .ui-button-text,
  .ui-dialog .ui-button-icons-only .ui-button-text,
  .ui-dialog .ui-button-icons-only .ui-button-text {
    display: block;
    padding: .4em;
    text-indent: -9999999px; }

.card {
  border-color: #1d1d1d; }

.tableRow {
  display: table-row; }

.cell, .pane, .deckView {
  display: table-cell;
  vertical-align: top;
  border: 1px solid black; }

.pane {
  width: 49%; }

.deckView {
  zoom: .75; }

.deckSpacer {
  min-width: 5px;
  display: table-cell; }

tbody tr:nth-child(2n) {
  background-color: #cbcbcb; }

.inline {
  display: inline; }

.table {
  display: table; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

.fill {
  width: 100%; }

#config-map-bge:disabled {
  color: #cbcbcb;
  background-color: #f8f8f8; }

.tooltip-container {
  position: relative;
  overflow: visible; }

.tooltip {
  display: none; }

label:hover + .tooltip {
  display: block;
  position: absolute;
  background-color: white;
  top: -10px;
  right: 25px;
  overflow: visible;
  color: grey;
  border: 1px solid grey;
  font-size: 12px;
  padding: 2px;
  white-space: nowrap;
  z-index: 9999; }

#tooltip {
  display: none;
  position: absolute;
  background-color: transparent;
  border: none; }
  #tooltip div {
    padding: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    color: gray;
    background-color: #f8f8f8;
    border-radius: 5px 0 0 5px;
    float: left; }
  #tooltip .arrow {
    width: 0px;
    height: 0px;
    float: left;
    border-left: 15px solid #f8f8f8;
    border-top-style: solid;
    border-top-color: transparent;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    border-right: none;
    background-color: transparent; }

