# VSCode Workspace Settings
settings.json

# Packages
node_modules/

# Test results
cypress/videos/

# Saved decks file
saved_decks.js
/res/items/unnamed
/res/skills/extracted
/packages
/tests

# Intermediary build files
/dist/data.js
/dist/deckbuilder.js
/dist/practice.js
/dist/simulator.js