<!DOCTYPE html>
<html lang="en" ng-app="simulatorApp">
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <title id="title_tag">SimSpellstone - The Spellstone Simulator that runs from your browser!</title>
    <link rel="stylesheet" type="text/css" href="styles/card.css">
    <link id="theme" rel="stylesheet" type="text/css" href="styles/sass/themes/light.css">
    <link rel="stylesheet" type="text/css" href="styles/spritesheet.css">
    <link rel="icon" type="image/png" href="res/favicon-16x16.png">
    <!--<link rel="stylesheet" href="Content/themes/base/smoothness.css">-->

    <script src="lib/jquery-2.2.1.min.js"></script>
    <script src="lib/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>

    <script src="lib/angular.min.js"></script>
    <script type="text/javascript" src="scripts/ng-simulator-controller.js"></script>
    <script id="deckstorage" type="text/javascript" src="scripts/localstorage-controller.js"></script>

    <!-- This script contains the cached data for cards, missions, quests, raids,
        and battlegrounds -->
    <script id="cards_script" type="text/javascript" src="scripts/data/cards.js"></script>
    <script id="cards_script" type="text/javascript" src="scripts/data/fusions.js"></script>
    <script id="cards_script" type="text/javascript" src="scripts/data/bges.js"></script>
    <script id="cards_script" type="text/javascript" src="scripts/data/campaign.js"></script>
    <script id="runes_script" type="text/javascript" src="scripts/data/runes.js"></script>
    <script id="raids_script" type="text/javascript" src="scripts/data/raids.js"></script>

    <!-- This script contains version info that changes each update -->
    <script id="common_variables" type="text/javascript" src="scripts/common.js"></script>

    <script id="shared_functions" type="text/javascript" src="scripts/shared.js"></script>

    <script id="single_threaded_simulator" type="text/javascript" src="scripts/card_battle.js"></script>

    <!-- These are the generic functions/variables used to simulate battles.
    All of the logic for simulating a single battle goes in here.
    -->
    <script id="simulator_base" type="text/javascript" src="scripts/simulator_base.js"></script>

    <!-- This script handles the base GUI functionality (getting user input and displaying simulation). -->
    <script id="gui_script_2.0" type="text/javascript" src="scripts/gui_script_2.0.js"></script>
    <script id="gui_script" type="text/javascript" src="scripts/gui_script.js"></script>

    <!-- This script handles drawing the UI for user-controlled mode. -->
    <script id="gui_script" type="text/javascript" src="scripts/cards_gui.js"></script>

    <!-- SIMULATOR CODE ENDS HERE -->

</head>
<body>
    <h1 id="version_label">SimSpellstone</h1>
    <input id="toggleTheme" type="button" onclick="toggleTheme()" value="Dark Theme" />
    <!--
    <div class="circle primary-black">Primary-Black</div>
    <div class="circle primary-neutral">Primary-Neutral</div>
    <div class="circle primary-color">Primary</div>
    <div class="circle primary-tint">Primary-Tint</div>
    <div class="circle primary-white">Primary-White</div>
    <br/>
    <div class="circle secondary-black">Secondary-Black</div>
    <div class="circle secondary-neutral">Secondary-Neutral</div>
    <div class="circle secondary-color">Secondary</div>
    <div class="circle secondary-tint">Secondary-Tint</div>
    <div class="circle secondary-white">Secondary-White</div>
    -->
    <div id="ui" ng-controller="SimulatorCtrl" ng-init="campaignSections()">
        <form>
            <hr />
            <div class="section accordion start-open">
                <h2>Attacker</h2>
                <div>
                    <div id="attack_deck" class="float-left"></div>
                </div>
            </div>
            <hr>
            <div class="section accordion start-open">
                <h2>Defender</h2>
                <div>
                    <div id="defend_deck" class="float-left"></div>
                </div>
            </div>
            <hr>
            <div class="section accordion">
                <h2>Setup</h2>
                <div>
                    <div class="accordion">
                        <h3>Attacker</h3>
                        <div>
                            <input type="button" onclick="loadDeck('#deck');" value="Load" />
                            <input type="button" onclick="load_deck_builder('player');" value="Edit" />
                            <div class="accordion">
                                <h6>Advanced Settings</h6>
                                <div id="deckContainer" class="collapsible">
                                    <div><label for="deck">Deck Hash:</label></div>
                                    <input id="deck" type="text" value="" size="100"><br />
                                    <div><font color="#666"><strong>Hash example:</strong> w98CAI5kfnIkDbHwI5YHwI5YHcBkHJcBkHJcBkHJ</font></div>
                                    <input type="checkbox" ng-model="auto" id="auto_mode"><label for="auto_mode">Auto Mode</label><br />
                                    <input type="checkbox" ng-disabled="!auto" id="ordered"><label for="ordered" ng-class="{grey:!auto}">Ordered</label><br />
                                    <input type="checkbox" ng-disabled="!auto" id="exactorder"><label for="exactorder" ng-class="{grey:!auto}">Don't Shuffle</label><br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <h3>Defender</h3>
                        <div>
                            <input type="button" onclick="loadDeck('#deck2');" value="Load" />
                            <input type="button" onclick="load_deck_builder('cpu');" value="Edit" />
                            <div class="accordion">
                                <h6>PvE Decks</h6>
                                <div>
                                    <div><span class="label">Campaign (7*):</span></div>
                                    <select id="campaign" ng-model="selections.campaign" ng-class="getCampaignClass()" ng-disabled="selections.raid !== ''">
                                        <option default value="" class=" grey">
                                            Select a Campaign...
                                        </option>
                                        <option ng-repeat="campaign in campaigns" value="{{campaign.id}}" ng-class="getCampaignClass(campaign)" ng-disabled="{{campaign.isLocation}}">{{campaign.name}}</option>
                                    </select>
                                    <select id="mission" ng-model="selections.mission" ng-class="{grey:selections.mission === ''}" ng-disabled="selections.campaign === ''">
                                        <option default value="" class="grey">Select a Mission...</option>
                                        <option ng-repeat="mission in missions | inCampaign:selections.campaign:campaigns" value="{{mission.id}}" class="black">{{mission.name}}</option>
                                    </select>
                                    <input style="float:initial; display:none;" type="NUMBER" id="mission_level" min="1" max="7" step="1" value="7" size="6" disabled="disabled">
                                    <br />
                                    <div><span class="label">Raid:</span></div>
                                    <select id="raid" ng-model="selections.raid" ng-class="{grey:selections.raid === ''}" ng-disabled="selections.campaign !== ''">
                                        <option default value="" class="grey">Select a Raid...</option>
                                        <option ng-repeat="raid in raids" value="{{raid.id}}" class="black">{{raid.name}}</option>
                                    </select>
                                    <input style="float:initial;" type="NUMBER" id="raid_level" min="25" max="40" step="1" value="25" size="6">
                                </div>
                            </div>
                            <div class="accordion">
                                <h6>Advanced Settings</h6>
                                <div>
                                    <div><i>Enemy Deck Hash:</i></div><input type="text" id="deck2" value="" size="100"><br />
                                    <font color="#666"><strong>Hash example:</strong> w98CAI5kfnIkDbHwI5YHwI5YHcBkHJcBkHJcBkHJ</font><br />
                                    <input type="checkbox" id="ordered2"><label for="ordered2">Ordered</label><br />
                                    <input type="checkbox" id="exactorder2"><label for="exactorder2">Don't Shuffle</label><br />
                                    <input type="checkbox" id="surge"><label for="surge">Defender First</label><br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <h3>Battlefield</h3>
                        <div>
                            <input type="checkbox" id="siege" ng-model="tower"><label for="siege">Tower</label><br />
                            <input type="NUMBER" id="tower_level" min="1" max="18" step="1" value="10" size="6" ng-disabled="!tower">
                            <select id="tower_type" ng-disabled="!tower">
                                <option ng-repeat="type in towerTypes()" value="{{type.id}}">{{type.name}}</option>
                            </select>
                            <br />
                            <br />
                            <div><span class="label">Battleground:</span></div>
                            <div id="battleground" style="overflow: auto; width: 200px; height: 80px; border: 1px solid #336699; padding-left: 5px; text-align: left; ">
                                <input ng-repeat-start="BGE in selectableBattlegrounds()" type="checkbox" name="battleground" id="battleground_{{BGE.id}}" value="{{BGE.id}}">
                                <label for="battleground_{{BGE.id}}">{{BGE.name}}</label>
                                <br ng-repeat-end />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="section accordion">
                <h2>Debug Settings</h2>
                <div>
                    <div id="debugContainer" class="collapsible">
                        <input type="checkbox" id="debug"><label for="debug">Debug Mode</label><br />
                    </div>
                </div>
            </div>
            <hr>
            <input id="btn_simulate" type="button" value="Battle!" style="text-align: center; font-weight: bold;">
            <input type="button" id="generate_link" value="Generate Link" style="text-align: center; font-weight: normal;">
        </form>
    </div>
    <br />
    <div id="cardSpace" class="flaot-left"></div>
    <br />
    <span id="stop" style="display: none;"><input type="button" value="Stop Sim(s)" onclick="SIM_CONTROLLER.stopsim()"><br />TIP: Switching browser tabs may cause your simulation to pause!</span>
    <br />
    <span id="content"></span>

    <div id="loadDeckDialog" title="Load Deck" ng-controller="DeckStorageCtrl">
        <label for="loadDeckName"><strong>Deck:</strong></label><br />
        <select name="loadDeckName" id="loadDeckName" class="ui-widget-content ui-corner-all" style="width:100%;">
            <option ng-repeat="key in keys(savedDecks) | orderBy:'toString()'" value="{{key}}">{{key}}</option>
        </select>
    </div>
</body>
</html>
