<html lang="en" ng-app="simulatorApp">
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <title id="title_tag">SimSpellstone - The Spellstone Simulator that runs from your browser!</title>
    <link rel="stylesheet" type="text/css" href="styles/card.css">
    <link id="theme" rel="stylesheet" type="text/css" href="styles/sass/themes/light.css">
    <link rel="stylesheet" type="text/css" href="styles/sass/header.css">
    <link rel="stylesheet" type="text/css" href="styles/spritesheet.css">
    <link rel="stylesheet" type="text/css" href="styles/sass/tutorial.css">
    <link rel="icon" type="image/png" href="res/favicon-16x16.png">
    <!--<link rel="stylesheet" href="Content/themes/base/smoothness.css">-->

    <script src="lib/jquery-2.2.1.min.js"></script>
    <script src="lib/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>

    <script src="lib/angular.min.js"></script>

    <!-- This script contains the cached data for cards, missions, quests, raids,
        and battlegrounds -->
    <script src="scripts/data/cards.js"></script>
    <script src="scripts/data/fusions.js"></script>
    <script src="scripts/data/bges.js"></script>
    <script src="scripts/data/campaign.js"></script>
    <script src="scripts/data/runes.js"></script>
    <script src="scripts/data/raids.js"></script>


    <!-- This script contains version info that changes each update -->
    <script src="scripts/common.js"></script>

    <!-- SIMULATOR CODE BEGINS HERE -->
    <!--
    These are the functions that are used by both the GUI script and the worker
    scripts. The following logic goes in here:
    * Shuffle()
    * Copy functions
    * "Card ID is..." functions
    * debug_dump functtions
    * generate_card_list()
    * hash encoding/decoding
    * load_deck_from_x functions
    * get_x_by_id functions
    * -->
    <script src="scripts/shared.js"></script>

    <script src="scripts/sim_controller.js"></script>
    <script src="scripts/determine.js"></script>
    <script src="scripts/optimizer.js"></script>

    <!-- This script handles the base GUI functionality (getting user input and displaying simulation). -->
    <script src="scripts/ng-simulator-controller.js"></script>
    <script src="scripts/localstorage-controller.js"></script>
    <script src="scripts/gui_script_2.0.js"></script>
    <script src="scripts/gui_script.js"></script>
    <script src="scripts/cards_gui.js"></script>

    <!-- SIMULATOR CODE ENDS HERE -->
    <script src="scripts/tutorial/simulator-tutorial.js"></script>
    <script src="scripts/sim-tutorial.js"></script>
</head>
<body>
    <header id="header"></header>
    <input id="toggleTheme" type="button" onclick="toggleTheme()" value="Dark Theme" />
    <!--
    <div class="circle primary-black">Primary-Black</div>
    <div class="circle primary-neutral">Primary-Neutral</div>
    <div class="circle primary-color">Primary</div>
    <div class="circle primary-tint">Primary-Tint</div>
    <div class="circle primary-white">Primary-White</div>
    <br/>
    <div class="circle secondary-black">Secondary-Black</div>
    <div class="circle secondary-neutral">Secondary-Neutral</div>
    <div class="circle secondary-color">Secondary</div>
    <div class="circle secondary-tint">Secondary-Tint</div>
    <div class="circle secondary-white">Secondary-White</div>
    -->
    <div id="ui" ng-controller="SimulatorCtrl" ng-init="campaignSections()">
        <form>
            <hr />
            <div id="setup-container" class="section accordion start-open">
                <h2>Setup</h2>
                <div>
                    <div class="tableRow">
                        <div id="attacker-container" class="pane">
                            <h3>Attacker</h3>
                            <div>
                                <div id="attacker-hash-container">
                                    <div><label for="deck1">Deck Hash:</label></div>
                                    <input id="deck1" type="text" value=""><br />
                                </div>
                                <input id="edit-player" type="button" onclick="load_deck_builder('player');" value="Edit" />
                                <input id="load-player" type="button" onclick="loadDeck('#deck1');" value="Load" />
                                <div id="attacker-inventory-container">
                                    <div><label for="inv1">Inventory Hash:</label></div>
                                    <input id="inv1" type="text" value=""><br />
                                </div>
                                <input id="edit-player-inv" type="button" onclick="load_deck_builder_for_field('inv1');" value="Edit" />
                                <input id="load-player-inv" type="button" onclick="loadDeck('#inv1');" value="Load" />
                                <div id="attacker-advanced">
                                    <h6>Advanced Settings</h6>
                                    <div id="deckContainer" class="collapsible">
                                        <div id="ordered-container"><input type="checkbox" id="ordered"><label for="ordered">Ordered</label></div>
                                        <div id="exactorder-container"><input type="checkbox" id="exactorder"><label for="exactorder">Don't Shuffle</label></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="defender-container" class="pane">
                            <h3>Defender</h3>
                            <div>
                                <div id="defender-hash-container">
                                    <div>
                                        <div><label for="deck2">Enemy Deck Hash:</label></div>
                                        <input type="text" id="deck2" value="">
                                    </div>
                                    <input id="edit-cpu" type="button" onclick="load_deck_builder('cpu');" value="Edit" />
                                    <input id="load-cpu" type="button" onclick="loadDeck('#deck2');" value="Load" />
                                </div>
                                <div id="pve-container">
                                    <h6>PvE Decks</h6>
                                    <div>
                                        <div id="campaign-container">
                                            <div><span class="label">Campaign (7*):</span></div>
                                            <select id="campaign" ng-model="selections.campaign" ng-class="getCampaignClass()" ng-disabled="selections.raid !== ''">
                                                <option default value="" class=" grey">
                                                    Select a Campaign...
                                                </option>
                                                <option ng-repeat="campaign in campaigns" value="{{campaign.id}}" ng-class="getCampaignClass(campaign)" ng-disabled="{{campaign.isLocation}}">{{campaign.name}}</option>
                                            </select>
                                        </div>
                                        <div id="mission-container">
                                            <select id="mission" ng-model="selections.mission" ng-class="{grey:selections.mission === ''}" ng-disabled="selections.campaign === ''">
                                                <option default value="" class="grey">Select a Mission...</option>
                                                <option ng-repeat="mission in missions | inCampaign:selections.campaign:campaigns" value="{{mission.id}}" class="black">{{mission.name}}</option>
                                            </select>
                                            <input style="float:initial; display:none;" type="NUMBER" id="mission_level" min="1" max="7" step="1" value="7" size="6" disabled="disabled">
                                        </div>
                                        <br />
                                        <div id="raid-container">
                                            <div><span class="label">Raid:</span></div>
                                            <select id="raid" ng-model="selections.raid" ng-class="{grey:selections.raid === ''}" ng-disabled="selections.campaign !== ''">
                                                <option default value="" class="grey">Select a Raid...</option>
                                                <option ng-repeat="raid in raids" value="{{raid.id}}" class="black">{{raid.name}}</option>
                                            </select>
                                            <input style="float:initial;" type="NUMBER" id="raid_level" min="25" max="40" step="1" value="25" size="6">
                                        </div>
                                    </div>
                                </div>
                                <div id="defender-advanced">
                                    <h6>Advanced Settings</h6>
                                    <div>
                                        <input type="checkbox" id="ordered2"><label for="ordered2">Ordered</label><br />
                                        <input type="checkbox" id="exactorder2"><label for="exactorder2">Don't Shuffle</label><br />
                                        <input type="checkbox" id="surge"><label for="surge">Defender First</label><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pane">
                            <div>
                                <h3>Battlefield</h3>
                            </div>
                            <div id="tower-container">
                                <h6>Tower</h6>
                                <div id="siege-container">
                                    <input type="checkbox" id="siege" ng-model="tower"><label for="siege">Use Tower</label>
                                </div>
                                <input type="number" id="tower_level" min="1" max="18" step="1" value="10" size="6" ng-disabled="!tower">
                                <select id="tower_type" ng-disabled="!tower">
                                    <option ng-repeat="type in towerTypes()" value="{{type.id}}">{{type.name}}</option>
                                </select>
                            </div>
                            <div id="bge-container">
                                <h6>Battleground Effects</h6>
                                <div style="position: relative; width: 200px; height: 213px; overflow-y: scroll;">
                                    <div id="battleground" style="position: absolute; width: 100%;">
                                        <input ng-repeat-start="BGE in selectableBattlegrounds()" type="checkbox" name="battleground" id="battleground_{{BGE.id}}" value="{{BGE.id}}">
                                        <label for="battleground_{{BGE.id}}">{{BGE.name}}</label>
                                        <br ng-repeat-end />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div>
                <div class="section accordion">
                    <h3>Debug Settings</h3>
                    <div>
                        <div id="debugContainer" class="collapsible">
                            <input type="checkbox" id="debug" ng-model="debugMode"><label for="debug">Debug Mode</label><br />
                            <input type="radio" name="debugMode" checked ng-disabled="!debugMode"><label>Normal Debug Mode</label><br />
                            <input type="radio" id="mass_debug" name="debugMode" ng-disabled="!debugMode"><label>Mass Debug Mode (causes slowdown)</label><br />
                            <input type="radio" id="win_debug" name="debugMode" ng-disabled="!debugMode"><label>Debug Win Mode (output first win)</label><br />
                            <input type="radio" id="loss_debug" name="debugMode" ng-disabled="!debugMode"><label>Debug Loss Mode (output first loss)</label>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div id="view-container" class="section accordion">
                <h2>View Decks</h2>
                <div class="tableRow">
                    <div class="deckView">
                        <h3>Attacker</h3>
                        <div>
                            <div id="attack_deck" class="float-left"></div>
                        </div>
                    </div>
                    <div class="deckView">
                        <h3>Defender</h3>
                        <div>
                            <div id="defend_deck" class="float-left"></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div id="sims-container" class="inline">
                <label for="sims">Number of Simulations: </label><input type="text" id="sims">
            </div><br />
            <input id="btn_simulate" type="button" value="Simulate" style="text-align: center; font-weight: bold;">
            <input type="button" id="generate_link" value="Generate Link" style="text-align: center; font-weight: normal;">
        </form>
    </div>
    <br />
    <div id="cardSpace" class="flaot-left"></div>
    <br />
    <span id="stop" style="display: none;"><input id="btnStop" type="button" value="Stop Sim(s)"><br />TIP: Switching browser tabs may cause your simulation to pause!</span>
    <br />
    <div id="simulationStatus" style="display:none">
        <strong id="simStatusMsg"></strong> <span id="progress"></span>
        <div id="speed">
            <span id="elapsed"></span> seconds<br />
            <span id="simsPerSec"></span> simulations per second<br>
        </div>
    </div>
    <div id="winrateTable" style="display:none;">
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="5" style="border: 1px solid #000000;">
                            <tbody>
                                <tr><td>Wins</td><td id="wins"></td><td id="winrate"></td></tr>
                                <tr><td>Losses</td><td id="losses"></td><td id="lossrate"></td></tr>
                                <tr><td>Draws</td><td id="draws"></td><td id="drawrate"></td></tr>
                                <tr><td>+/-</td><td id="marginGames">1105</td><td id="marginPercent">0.00%</td></tr>
                                <tr style="background-color: #000; color: #fff;"><td>Battles</td><td class="battleCount">843817</td><td id="percentComplete"></td></tr>
                            </tbody>
                        </table>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <table cellspacing="0" cellpadding="5" style="border: 1px solid #000000;">
                            <tbody>
                                <tr><td>Avg. Battle Length</td><td id="avgLength"></td></tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <span id="content"></span>

    <div id="loadDeckDialog" title="Load Deck" ng-controller="DeckStorageCtrl">
        <label for="loadDeckName"><strong>Deck:</strong></label><br />
        <select name="loadDeckName" id="loadDeckName" class="ui-widget-content ui-corner-all" style="width:100%;">
            <option ng-repeat="key in keys(savedDecks) | orderBy:'toString()'" value="{{key}}">{{key}}</option>
        </select>
    </div>
    <footer id="footer"></footer>
</body>
</html>
