<!DOCTYPE html>
<html lang="en" ng-app="simulatorApp">
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <title id="title_tag">SimSpellstone - The Spellstone Simulator that runs from your browser!</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css" media="screen">
    <link rel="stylesheet" type="text/css" href="styles/card.css">
    <link rel="stylesheet" type="text/css" href="styles/spritesheet.css">
    <link rel="stylesheet" href="Content/themes/base/smoothness.css">
    <link rel="icon" type="image/png" href="res/favicon-16x16.png">

    <script src="lib/jquery-2.2.1.min.js"></script>
    <script src="lib/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>

    <script src="lib/angular.min.js"></script>
    <script type="text/javascript" src="scripts/ng-simulator-controller.js"></script>

    <!-- This script contains the cached data for cards, missions, quests, raids,
        and battlegrounds -->
    <script id="cards_script" type="text/javascript" src="scripts/data/cards.js"></script>
    <script id="cards_script" type="text/javascript" src="scripts/data/fusions.js"></script>
    <script id="cards_script" type="text/javascript" src="scripts/data/bges.js"></script>
    <script id="cards_script" type="text/javascript" src="scripts/data/campaign.js"></script>
    <script id="runes_script" type="text/javascript" src="scripts/data/runes.js"></script>
    <script id="raids_script" type="text/javascript" src="scripts/data/raids.js"></script>
    <script id="titans_script" type="text/javascript" src="scripts/data/titans.js"></script>


    <!-- This script contains version info that changes each update -->
    <script id="common_variables" type="text/javascript" src="scripts/common.js"></script>

    <!-- SIMULATOR CODE BEGINS HERE -->
    <!--
    These are the functions that are used by both the GUI script and the worker
    scripts. The following logic goes in here:
    * Shuffle()
    * Copy functions
    * "Card ID is..." functions
    * debug_dump functtions
    * generate_card_list()
    * hash encoding/decoding
    * load_deck_from_x functions
    * get_x_by_id functions
    * -->
    <script id="shared_functions" type="text/javascript" src="scripts/shared.js"></script>

    <!-- These are the generic functions/variables used to simulate battles.
    All of the logic for simulating a single battle goes in here.
    -->
    <script id="simulator_base" type="text/javascript" src="scripts/simulator_base.js"></script>

    <!-- The following two scripts are the functions/variables needed by the main
    thread for the two types of simulators.  The following functions must be
    defined in each of these:
    * startsim(autostart)
    * stopsim()
    * run_sim()
    -->
    <!-- For the single-threaded simulator, the simulator_base script is loaded
    into the GUI script.  In addition, the following functions are also defined
    here so that the GUI thread can run simulations:
    * run_sims()
    -->
    <script id="single_threaded_simulator" type="text/javascript" src="scripts/single_threaded.js"></script>

    <!-- This script handles the base GUI functionality (getting user input and displaying simulation). -->
    <script id="gui_script" type="text/javascript" src="scripts/gui_script.js"></script>

    <!-- This script handles drawing the UI for user-controlled mode. -->
    <script id="gui_script" type="text/javascript" src="scripts/cards_gui.js"></script>

    <!-- SIMULATOR CODE ENDS HERE -->

</head>
<body>
    <input type="button" onclick="toggle_u()" value="Toggle Gray Text" />
    <br>
    <h1 id="version_label">SimSpellstone</h1>
    <h4 id="version_label2"></h4>
    <div id="remaining" style="display:none"></div>
    <br>
    <div id="ui" ng-controller="SimulatorCtrl" ng-init="titans();">
        <form>
            <div><b>Deck Hash:</b></div><input id="deck" type="text" value="" size="100"><br>
            <div><label class="button" onclick="load_deck_builder('player');"><b>Deck Builder</b></label></div><font color="#666"><strong>Hash example:</strong> w98CAI5kfnIkDbHwI5YHwI5YHcBkHJcBkHJcBkHJ</font><br>
            <br>
            <div><b>Card List:</b></div><input id="cardlist" type="text" value="" size="100"><br>
            <div>&nbsp;</div><font color="#666"><strong>Card list example:</strong> Urs(5), Matriarch(5), Fire Devil(4); Smelted Skeleton(4)x2, Outrunner(4)x3</font><br>
            <br>
            <div>Ordered Deck:</div><input type="checkbox" id="ordered">
            <div><u>Don't Shuffle Deck:</u></div><input type="checkbox" id="exactorder"><br>
            <br>
            <div><b>Inventory Hash:</b></div><input id="inventory" type="text" value="" size="100"><br>
            <div><label class="button" onclick="load_deck_builder('inventory');"><b>Deck Builder</b></label></div><font color="#666"><strong>Hash example:</strong> w98CAI5kfnIkDbHwI5YHwI5YHcBkHJcBkHJcBkHJ</font><br>
            <br>
            <hr>
            <div><i>Campaign (7*):</i></div>
            <select id="campaign" ng-model="selections.campaign" ng-class="{grey:!selections.campaign}" ng-disabled="selections.raid !== ''">
                <option default value="" class=" grey">
                    Select a Campaign...
                </option>
                <option ng-repeat="campaign in campaigns | forMissions:missions" value="{{campaign.id}}">{{campaign.name}}</option>
            </select>
            <select id="mission" ng-model="selections.mission" ng-class="{grey:!selections.mission}" ng-disabled="selections.campaign === ''">
                <option default value="" class="grey">Select a Mission...</option>
                <option ng-repeat="mission in missions | inCampaign:selections.campaign:campaigns" value="{{mission.id}}">{{mission.name}}</option>
            </select>
            <input style="float:initial; display:none;" type="NUMBER" id="mission_level" min="1" max="7" step="1" value="7" size="6" disabled="disabled">
            <br>
            <div><i>Raid:</i></div>
            <select id="raid" ng-model="selections.raid" ng-class="{grey:!selections.raid}" ng-disabled="selections.campaign !== ''">
                <option default value="" class="grey">Select a Raid...</option>
                <option ng-repeat="raid in raids" value="{{raid.id}}">{{raid.name}}</option>
            </select>
            <input style="float:initial;" type="NUMBER" id="raid_level" min="25" max="40" step="1" value="25" size="6">
            <br />
            <br />
            <div>&nbsp;</div><label class="button" onclick="open_mission_deck_builder();"><i>View Deck</i></label>
            <br />
            <br>
            <div><i>Battleground:</i></div>
            <div id="battleground" style="overflow: auto; width: 200px; height: 80px; border: 1px solid #336699; padding-left: 5px; text-align: left; ">
                <!--
                <div ng-repeat="BGE in selectableBattlegrounds()">
                    <input type="checkbox" name="battleground" id="battleground_{{BGE.id}}" value="{{BGE.id}}">{{BGE.name}}
                </div>
                -->
                <input ng-repeat-start="BGE in selectableBattlegrounds()" type="checkbox" name="battleground" id="battleground_{{BGE.id}}" value="{{BGE.id}}">
                <label for="battleground_{{BGE.id}}">{{BGE.name}}</label>
                <br ng-repeat-end />
            </div>
            <br>
            <br>
            <hr>
            <br>
            <div>Number of Simulations:</div><input type="text" id="sims" value="200000" size="10"><br>
            <br>
            <div>Debug Mode:</div><input type="checkbox" id="debug" ng-model="debugMode"><br>
            <div>Normal Debug Mode:</div><input type="radio" name="debugMode" checked ng-disabled="!debugMode"><br>
            <div>Mass Debug Mode (causes slowdown):</div><input type="radio" id="mass_debug" name="debugMode" ng-disabled="!debugMode"><br>
            <div>Debug Win Mode (output first win):</div><input type="radio" id="win_debug" name="debugMode" ng-disabled="!debugMode"><br>
            <div>Debug Loss Mode (output first loss):</div><input type="radio" id="loss_debug" name="debugMode" ng-disabled="!debugMode"><br>
            <br>
            <div>Mode de simulation :</div>
            <div>Remplacement d'une carte du deck :</div><input type="radio" id="sim_trycard" name="simMode" checked="true"><br>
            <div>Ordonancement du deck :</div><input type="radio" id="sim_order" name="simMode"><br>
            <br>
            <div>&nbsp;</div><input id="btn_simulate" type="button" value="Simulate" style="text-align: center; font-weight: bold;"> 
            <input type="button" id="generate_link" value="Generate Link" style="text-align: center; font-weight: normal;">
             <input type="button" id="display_history" value="History" style="text-align: center; font-weight: normal;">

            <div id="progression"></div>
        </form>
    </div>
    <br>
    <span id="content"></span>
    <div id="simulationStatus" style="display:none">
        <strong id="simStatusMsg"></strong> <span id="progress"></span>
        <div id="speed">
            <span id="elapsed"></span> seconds<br />
            <span id="simsPerSec"></span> simulations per second<br>
        </div>
    </div>
    <div id="winrateTable" style="display:none;">
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="5" style="border: 1px solid #000000;">
                            <tbody>
                                <tr><td>Wins</td><td id="wins"></td><td id="winrate"></td></tr>
                                <tr style="background-color: #eee;"><td>Losses</td><td id="losses"></td><td id="lossrate"></td></tr>
                                <tr><td>Draws</td><td id="draws"></td><td id="drawrate"></td></tr>
                                <tr style="background-color: #eee;"><td>+/-</td><td id="marginGames">1105</td><td id="marginPercent">0.00%</td></tr>
                                <tr style="background-color: #000; color: #fff;"><td>Battles</td><td class="battleCount">843817</td><td id="percentComplete"></td></tr>
                            </tbody>
                        </table>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <table cellspacing="0" cellpadding="5" style="border: 1px solid #000000;">
                            <tbody>
                                <tr><td>Avg. Battle Length</td><td id="avgLength"></td></tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <span id="cardSpace"></span>
    <br>
    <span id="stop" style="display: none;"><input type="button" value="Stop Sim(s)" onclick="SIM_CONTROLLER.stopsim()"><br>TIP: Switching browser tabs may cause your simulation to pause!</span>


    <div id="missionDeckDialog" class="dialog-form">
        <h1 id="deck_label">Deck:</h1>
        <div id="deckContainer" class="collapsible">
            <div id="deck_display" class="float-left"></div>
            <br />
            <div id="hash_container">
                <div><b>Deck Hash:</b></div><input id="deck_hash" type="text" value="" style="width:99%" disabled="disabled"><br />
            </div>
        </div>
    </div>
</body>
</html>
