/* 
 * Practical Color Theory for People Who Code
 * http://tallys.github.io/color-theory/?imm_mid=0e31ae&cmp=em-web-na-na-newsltr_20160427
 */
body {
  margin: 5px;
  padding: 0; }

#header {
  background-color: gray;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  font-size: 1em;
  display: table;
  width: 100%; }
  #header nav {
    display: table-row; }
  #header ul {
    padding: 0 10px; }
  #header input {
    background-color: gray; }
  #header li {
    display: table-cell;
    white-space: nowrap;
    margin: 0 15px; }
    #header li.fill {
      width: 100%; }
    #header li.li-header {
      padding-right: 20px; }
  #header h1, #header li, #header a {
    color: #1d1d1d; }
  #header nav a {
    /*
        text-align: right;
        font-weight: 400;
        letter-spacing: 0;
        vertical-align: middle;
        */
    padding: 5px 5px;
    text-decoration: none;
    cursor: pointer; }
