@charset 'UTF-8';

.ui-dialog-titlebar,
.primary-color {
    background-color: $primary-color;
}

.primary-neutral {
    background-color: $primary-neutral;
}

.primary-black {
    background-color: $primary-black;
}

.primary-white {
    background-color: $primary-white;
}

.primary-tint {
    background-color: $primary-tint;
}

.secondary-color {
    background-color: $secondary-color;
}

.secondary-neutral {
    background-color: $secondary-neutral;
}

.secondary-black {
    background-color: $secondary-black;
}

.secondary-white {
    background-color: $secondary-white;
}

.secondary-tint {
    background-color: $secondary-tint;
}

.circle {
    color: black;
    border: 1px solid black;
    min-width: 12px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 10px;
    margin: 0;
}

div.section {
    border: 2px solid $primary-black;
    border-radius: 10px 10px 0 0;
    padding-bottom: 2px;
    max-width: 555px;

    h1, h2, h3, h4, h5, h6 {
        color: $primary-black;
        background-color: $primary-neutral;
        border-radius: 10px 10px 0 0;
        border-bottom: 2px solid $primary-black;
    }
}

select, input {
    color: $secondary-color;
    background-color: $secondary-white-white;
}

body {
    font: 100% $font-stack;
    color: $secondary-neutral;
    background-color: $secondary-white;
}


.accordion {
    display: table;
    width: 100%;

    .ui-accordion-header {
        position: relative;
    }

    h6.ui-accordion-header,
    span.ui-accordion-header {
        color: $secondary-black;
        border-color: $secondary-tint;
        background-color: $secondary-white;
        border-style: outset;
        border-radius: 5px 5px 0 0;
        margin: 0;
    }

    > div {
        border: 1px solid $primary-black;
    }
}

input[disabled],
select[disabled] {
    //background-color: rgb(235, 235, 228);
    color: $secondary-color;
    background-color: $secondary-tint;
}

.black {
    //color: #001;
    color: $secondary-neutral;
}

.grey {
    //color: #888;
    color: $secondary-tint;
}

option.location:disabled {
    color: $secondary-black;
    background-color: $secondary-tint;
    font-weight: bold;
}

select.mythic,
option.mythic {
    color: darkorange;
}

select.heroUpgrade,
option.heroUpgrade {
    color: purple;
}

select.event,
option.event {
    color: cornflowerblue;
}

thead tr {
    background-color: black;
    color: white;
}

tr.alternating:nth-child(odd) {
    background-color: lightgrey;
}

#version_label {
    //background-color: $secondary-black;
}

button,
input[type=button] {
    color: $secondary-neutral;
    border-color: $secondary-tint;
    background-color: $secondary-white;
    border-radius: 5px;
    border-width: 3px;
    padding: 5px 10px;
    margin: 5px 0;
}

/* states and images */
.ui-icon {
    width: 16px;
    height: 16px;
    background-image: url("../../../Content/themes/base/images/ui-icons_222222_256x240.png");
}

.ui-state-default .ui-icon {
    background-image: url("../../../Content/themes/base/images/ui-icons_888888_256x240.png");
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
    background-image: url("../../../Content/themes/base/images/ui-icons_454545_256x240.png");
}

.ui-state-active .ui-icon {
    background-image: url("../../../Content/themes/base/images/ui-icons_454545_256x240.png");
}

.ui-state-highlight .ui-icon {
    background-image: url("../../../Content/themes/base/images/ui-icons_2e83ff_256x240.png");
}

.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
    background-image: url("../../../Content/themes/base/images/ui-icons_cd0a0a_256x240.png");
}

.ui-accordion {

    .ui-accordion-icons {
        padding-left: 2.2em;

        .ui-accordion-icons {
            padding-left: 2.2em;
        }
    }

    .ui-accordion-header .ui-accordion-header-icon {
        position: absolute;
        left: .5em;
        top: 50%;
        margin-top: -8px;
    }
}

.ui-icon-triangle-1-e {
    background-position: -32px -16px;
}

.ui-icon-triangle-1-s {
    background-position: -64px -16px;
}

.ui-icon-closethick {
    background-position: -96px -128px;
}

h2 .ui-icon {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.label {
    font-weight: bold;
    background-color: $secondary-tint;
}


#content {
    i {
        text-decoration: none;
        font-style: normal;
        color: #ff0000;
        font-weight: bold;
    }

    b {
        text-decoration: none;
        font-style: normal;
        color: #0000ff;
        font-weight: bold;
    }
}

.ui-dialog {
    border: 1px solid $secondary-neutral;

    .ui-dialog-title {
        color: $primary-black;
        font-weight: bold;
    }

    .ui-dialog-titlebar {
        padding: .4em 1em;
        position: relative;
    }

    .ui-dialog-titlebar-close {
        position: absolute;
        right: .3em;
        top: 50%;
        width: 20px;
        margin: -10px 0 0 0;
        padding: 1px;
        height: 20px;
    }

    .ui-dialog-header {
        border: 1px solid $primary-neutral;
        background: $primary-neutral url("../../../Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
        color: #222222;
        font-weight: bold;

        .ui-icon {
            background-image: url("../../../Content/themes/base/images/ui-icons_222222_256x240.png");
        }
    }

    .ui-dialog-content {
        //background: $secondary-white url("../../../Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
        background-color: $secondary-white;
        color: $secondary-black;

        .ui-icon {
            background-image: url("../../../Content/themes/base/images/ui-icons_222222_256x240.png");
        }
    }

    .ui-dialog-buttonset {
        background-color: $secondary-white;
    }

    .ui-button-icon-only,
    .ui-button-icons-only {
        .ui-icon {
            position: absolute;
            top: 50%;
            margin-top: -8px;
            left: 50%;
            margin-left: -8px;
        }

        .ui-button-text,
        .ui-button-text {
            display: block;
            padding: .4em;
            text-indent: -9999999px;
        }
    }
}

.card {
    border-color: $secondary-black;
}

.tableRow {
    display: table-row;
}

.cell {
    display: table-cell;
    vertical-align: top;
    border: 1px solid black;
}

.pane {
    @extend .cell;
    width: 49%;
}

.deckView {
    @extend .cell;
    zoom: .75;
}

.deckSpacer {
    min-width: 5px;
    display: table-cell;
}

tbody tr:nth-child(2n) {
    background-color: $secondary-tint;
}

.inline {
    display: inline;
}

.table {
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.fill {
    width: 100%;
}

#config-map-bge:disabled {
        color: #c0c0c0;
        background-color: #ffffff;
}