<div class="card-details {{getFaction(card.type)|lowercase}}" tabindex="0" ng-keydown="keyPress($event)" ng-cloak>
    <div id="cardArt" class="detail-panel faction">
        <div class="art-holder ng-class:commanderClass();">
            <img class="card-art" ng-src="{{imageSrc}}" />
        </div>
        <img class="bottom-center icon-fusion" ng-src="{{getFusionIcon()}}" ng-if="isFused()" />
        <img class="bottom-center rarity" ng-src="{{getRarityIcon()}}" ng-if="showRarity()" />
    </div>
    <div id="cardStats" class="detail-panel card-stats">
        <span class="fs18">{{card.name}}</span>
        <div id="rarity-string" class="{{getRarityString()|lowercase}} center vertically fs18" ng-style="fontSize()">
            <span ng-if="showRarity()">{{getRarityString()}}</span>
            <span>{{getFaction(card.type)}}</span>
            <span ng-repeat="subFactionID in card.sub_type">{{getFaction(subFactionID)}}</span>
        </div>
        <div class="center vertically horizontally">
            <div class="center vertically horizontally">
                <span ng-click="decrementFusion()" ng-disabled="!previousFusion()" class="ui-icon ui-icon-arrowthickstop-1-w"></span>
                <span ng-click="decrementLevel()" ng-disabled="!previousLevel()" class="ui-icon ui-icon-circle-triangle-w"></span>
                <div class="anchor center vertically">
                    <div class="placeholder-fusion" ng-if="!isFused()"></div>
                    <img class="stat-icon" ng-src="{{getFusionIcon()}}" ng-if="isFused()" />
                    <img class="bottom-center rarity" ng-src="{{getRarityIcon()}}" ng-if="showRarity()" />
                </div>
                <span ng-click="incrementLevel()" ng-disabled="!nextLevel()" class="ui-icon ui-icon-circle-triangle-e"></span>
                <span ng-click="incrementFusion()" ng-disabled="!nextFusion()" class="ui-icon ui-icon-arrowthickstop-1-e"></span>
            </div>
            <br />
        </div>
        <div id="baseStats" class="base-stats">
            <div ng-if="!isCommander()">
                <img src="res/cardAssets/Attack3.png" class="stat-icon" />
                <span>Attack: {{card.attack}}</span>
            </div>
            <div>
                <img src="res/cardAssets/Health.png" class="stat-icon" />
                <span>Health: {{card.health}}</span>
            </div>
            <div ng-if="!isCommander()">
                <img src="res/cardAssets/Timer.png" class="stat-icon" />
                <span>Delay: {{card.cost}}</span>
            </div>
        </div>
        <div id="skills">
            <div ng-repeat="skill in card.skill" class="skill-list">
                <img ng-src="{{getSkillIcon(skill.id)}}" />
                <span>{{skill.id|convertName|capitalize}}</span>
                <span ng-if="skill.all == 1">All</span>
                <span ng-if="skill.y > 0">{{getFaction(skill.y)}}</span>
                <span ng-if="skill.s">{{skill.s|convertName|capitalize}}</span>
                <span ng-if="skill.x > 0">{{skill.x}}</span>
                <span ng-if="skill.c">Every {{skill.c}}</span>
            </div>
        </div>
        <div class="description">
            <span>{{card.desc}}</span>
        </div>
        <div class="bottom-left">
            <span class="b">{{releaseDate}}</span>
        </div>
        <div class="bottom-center">
            <span class="b">{{fusionText()}}</span>
        </div>
        <div class="bottom-right">
            <img ng-src="{{getSetIcon()}}" />
        </div>
    </div>
</div>