<div class="card-details">
    <div id="cardArt" class="detail-panel">
        <img class="card-art" src="{{getCardImage()}}" />
    </div>
    <div id="cardStats" class="detail-panel card-stats">
        <div>{{card.name}}</div>
        <div class="{{rarity|lowercase}} center vertically">
            <img src="{{getRarityIcon()}}" ng-click="fuse()" />
            <span>{{getRarityString()}}</span>
            <span>{{getFaction(card.type)}}</span>
            <span ng-if="card.sub_type">{{getFaction(card.sub_type)}}</span>
        </div>
        <div id="baseStats" class="base-stats">
            <div>
                <img src="res/cardAssets/Attack3.png" class="stat-icon" />
                <span>Attack: {{card.attack}}</span>
            </div>
            <div>
                <img src="res/cardAssets/Health.png" class="stat-icon" />
                <span>Health: {{card.health}}</span>
            </div>
            <div>
                <img src="res/cardAssets/Timer.png" class="stat-icon" />
                <span>Delay: {{card.cost}}</span>
            </div>
        </div>
        <div ng-repeat="skill in card.skill" class="skill-list">
            <img src="{{getSkillIcon(skill.id)}}" />
            <span>{{skill.id|capitalize}}</span>
            <span ng-if="skill.all == 1">All</span>
            <span ng-if="skill.y > 0">{{getFaction(skill.y)}}</span>
            <span ng-if="skill.s">{{skill.s}}</span>
            <span ng-if="skill.x > 0">{{skill.x}}</span>
            <span ng-if="skill.c">Every {{skill.c}}</span>
        </div>
    </div>
</div>