<nav>
    <ul>
        <li class="li-header">
            <span id="version_label" style="font-size:1.5em; font-weight:bold">SIM Spellstone</span>
        </li>
        <li id="battle"><a href="Battle.html">Practice</a></li>
        <li id="titans"><a href="Titans.html">Simulator</a></li>
        <li id="deckbuilder"><a href="DeckBuilder.html">Deck Builder</a></li>
        <li id="help"><a href="javascript:void(0)">Help</a></li>
        <li class="fill"></li>
    </ul>
</nav>
<script>
    (function () {
        var urlHelper = require('urlHelper');
        var currentPage = urlHelper.getCurrentPage();
        $("#" + currentPage).addClass("current-page");
    }());
</script>
<script src="lib/googleAnalytics.js"></script>
