<div id="tutorial" class="overlay">
    <div class="overlay-fog">
    </div>
    <div class="overlay-content">
        <a href="javascript:void(0)" id="tutorial-prev" class="button">Prev</a>
        <a href="javascript:void(0)" id="tutorial-next" class="button">Next</a>
        <a href="javascript:void(0)" id="tutorial-close" class="button">Close</a>
        <a href="javascript:void(0)" id="tutorial-skip" class="button">Skip</a>
        <input type="checkbox" id="tutorial-show"><label for="ordered">Always Show</label>
    </div>
    <div class="overlay-content">
        <div><span id="tutorialMessage"></span></div>
    </div>
</div>