#detailedView {
    padding: 0;
}

.card-details {
    display: block;
    width: 475px;
    border: 1px solid black;
    overflow: auto;

    .b {
        font-weight: bold;
    }

    .stat-icon {
        height: 32px;
    }

    .detail-panel {
        float: left;
        width: 50%;
        position: relative;
        min-height: 365px;
        border: 1px solid black;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .art-holder {
        display: block;
        height: 330px;
        width: 231px;
        position: relative;
        border: 1px solid black;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;

        &.commander {
            background-image: url('../res/cardAssets/Commander_BG_Question.png');
            background-size:cover;

            &.aether{
                background-image: url('../res/cardAssets/Commander_BG_Aether.png');
            }

            &.chaos{
                background-image: url('../res/cardAssets/Commander_BG_Chaos.png');
            }

            &.wyld{
                background-image: url('../res/cardAssets/Commander_BG_Wyld.png');
            }

            &.void{
                background-image: url('../res/cardAssets/Commander_BG_Void.png');
            }
        }
    }

    .card-art {
        max-height: 330px;
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .bottom-left {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .bottom-center {
        position: absolute;
        bottom: 0;
        margin-left: -16px;
        left: 50%;
    }

    .bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .icon-center {
        position: absolute;
        margin: -16px -16px;
        left: 50%;
    }

    .placeholder-arrow {
        min-width: 16px;
        min-height: 16px;
    }

    .placeholder-fusion {
        min-width: 68px;
        min-height: 32px;
    }

    .rarity {
        height: 32px;
    }

    .icon-fusion {
        height: 32px;
        margin-left: -34px;
    }

    .base-stats {
        float: right;
        width: 90%;
    }

    .skill-list {
        float: left;
        width: 100%;
    }

    .center {
        display: flex;

        &.vertically {
            align-items: center;
        }

        &.horizontally {
            justify-content: center;
        }
    }

    .card-stats {
        div {
            font-size: 12px;
        }

        .fs18 {
            font-size: 18px;
            color: white;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }

        .description {
            float: left;
            margin-top: 10px;
            color: black;
            font-size: 15px;
            font-style: italic;
            text-shadow: none;
        }

        .mythic {
            color: orangered;
        }

        .legendary {
            color: fuchsia;
        }

        .epic {
            color: cornflowerblue;
        }

        .rare {
            color: forestgreen;
        }

        .common {
            color: gray;
        }

        span {
            margin-left: 2px;
            margin-right: 2px;
        }

        .ui-icon[disabled] {
            background-image: url("../Content/themes/base/images/ui-icons_888888_256x240.png");
        }
    }
}

.anchor {
    position: relative;
}