.card {
    background: #FFF;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-size: 10px;
    position: relative;
}

.subfaction {
    position: absolute;
    top: 12px;
    left: 0%%;
    margin: 1px 1px;
    border-radius: 10px;
    box-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.fusion-left {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin: 1px -14px;
}

.level {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin: 1px -5px;
}

.fusion-right {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin: 1px 4px;
}

.wyld,
.chaos,
.aether,
.void,
.factionless {
    position: absolute;
    min-height: 10px;
    bottom: 0px;
    width: 100%;
    z-index: 0;
    border: solid;
    border-width: 0.1em;
    border-color: grey;
}

.wyld {
    background-color: forestgreen;
}

.chaos {
    background-color: red;
}

.aether {
    background-color: #0099FF;
}

.void {
    background-color: purple;
}

.factionless {
    background-color: grey;
}

.card-image {
    position: absolute;
    height: 100%;
    width: 100%;
}

    .card-image::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-image: url('../res/cardImages/NotFound.jpg');
    }

.aether-commander {
    background-image: linear-gradient(skyblue, black);
}

.chaos-commander {
    background-image: linear-gradient(darkred, black);
}

.wyld-commander {
    background-image: linear-gradient(darkgreen, black);
}

.void-commander {
    background-image: linear-gradient(purple, black);
}

.factionless-commander {
    background-image: linear-gradient(grey, black);
}

img[src='Error.src'] {
    display: none;
}

.card-name {
    position: absolute;
    font-weight: bold;
    white-space: nowrap;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

    .card-name:hover {
        overflow: inherit;
        text-overflow: inherit;
        white-space: inherit;
        z-index: 100;
        color: black;
        text-shadow: none;
        border-bottom: solid;
        border-width: 1px;
        background-color: #FFF;
    }

.card-attack,
.card-health,
.card-delay,
.hand-delay {
    position: absolute;
    font-weight: bold;
    padding: 1px;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    min-width: 12px;
    min-height: 12px;
    text-align: center;
    padding: 0px;
    margin: 0;
    color: white;
    border-color: white;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    z-index: 99;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.card-attack {
    left: 0px;
    bottom: 0px;
    background-color: darkviolet;
}

.card-health {
    right: 0px;
    bottom: 0px;
    background-color: deeppink;
}

.hand-delay {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #0099FF;
}

.card-delay {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -6px 0 0 -6px;
    background-color: #0099FF;
}

.increased {
    color: lightgreen;
}

.decreased {
    color: red;
}

.card-skills-short {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    text-align: center;
    background-image: -webkit-gradient( linear, left bottom, left top, from(rgba(50,50,50,0.5)), to(rgba(80,80,80,0.0)), color-stop(0.4,#333333) );
}

    .card-skills-short img {
        margin-top: 12px;
    }

.card-skills {
    visibility: hidden;
}

    .card-skills img {
        padding-left: 2px;
        padding-right: 2px;
    }

    .card-skills-short:hover ~ .card-skills,
    .card-skills:hover {
        position: absolute;
        width: 90%;
        height: auto;
        bottom: 13px;
        border: solid;
        border-color: grey;
        background-color: #FFF;
        border-radius: 5px;
        z-index: 99;
        visibility: visible;
    }

.card-statuses {
    visibility: hidden;
}

.hidden {
    position: absolute;
    font-weight: bold;
    padding: 1px;
    top: 13px;
    width: 100%;
    text-align: center;
}

    .hidden:hover ~ .card-statuses,
    .card-statuses:hover {
        position: absolute;
        top: 13px;
        width: 90%;
        border: solid;
        background-color: #FFF;
        border-radius: 5px;
        z-index: 100;
        visibility: visible;
    }

.card-buffs,
.card-debuffs {
    border: solid;
    border-radius: 5px;
}

.card-buffs {
    border-color: green;
}

.card-debuffs {
    border-color: red;
}

img {
    width: 12px;
    height: 12px;
}

.hand-left {
    -ms-transform: rotate(-7deg) translate(0px, 5px); /* IE 9 */
    -webkit-transform: rotate(-7deg) translate(0px, 5px); /* Chrome, Safari, Opera */
    transform: rotate(-7deg) translate(0px, 5px);
}

.hand-right {
    -ms-transform: rotate(7deg) translate(0px, 5px); /* IE 9 */
    -webkit-transform: rotate(7deg) translate(0px, 5px); /* Chrome, Safari, Opera */
    transform: rotate(7deg) translate(0px, 5px);
}

.hand .card-delay {
    left: auto;
    right: 0;
    top: 0;
    margin: initial;
}

.hand .card {
    margin-left: 2px;
    margin-right: 2px;
}

.float-left {
    display: block;
}

.hand {
    position: relative;
    left: 80px;
}

.field {
    width: 100%;
    display: inline-block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.field .float-left {
    border-top-style: solid;
    border-bottom-style: solid;
    padding: 5px;
    height: 120px;
    margin-bottom: 5px;
}

.float-left .card {
    width: 84px;
    height: 120px;
    margin-right: 5px;
    display: inline-block;
    vertical-align:top;
}

.float-left .spacer {
    float: left;
    height: 100%;
    border: solid;
    border-width: 1px;
    margin-right: 5px;
}

.frozen {
    background-color: lightblue;
}
