.card {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 10px;
    position: relative;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none; /* IE 10+ */
}

    .card:hover .set {
        width: 21px;
    }

    .card:hover .subfaction {
        left: 25px;
    }

    .card:hover .subfaction img {
        width: 21px;
    }

.set {
    background-color: dimgray;
    position: absolute;
    top: 12px;
    left: 0;
    width: 12px;
    margin: 1px 1px;
    border-radius: 25%;
    box-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.subfaction {
    position: absolute;
    top: 12px;
    left: 15px;
}

.subfaction img{
    width: 12px;
    margin: 1px 1px;
    border-radius: 10px;
    box-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.level {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 1px -8px;
    width: 16px;
}

.commander .level {
    left: auto;
    right: 0;
    margin: 1px 0;
}

.commander .portrait {
    border: solid;
    border-width: 5px;
    color: gold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: -2px 0 black, 0 5px black, 1px 0 black, 0 -1px black;
}

.fusion {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 1px -14px;
    width: 28px;
}

.faction {
    position: absolute;
    min-height: 10px;
    bottom: 0;
    width: 100%;
    z-index: 0;
    border-top: solid;
    border-width: 0.1em;
    border-color: grey;
}

.aether .faction {
    background-color: steelblue;
}

.chaos .faction {
    background-color: maroon;
}

.wyld .faction {
    background-color: darkolivegreen;
}

.void .faction {
    background-color: purple;
}

.factionless .faction {
    background-color: grey;
}

.aether.commander {
    background-image: linear-gradient(steelblue, black);
}

.chaos.commander {
    background-image: linear-gradient(maroon, black);
}

.wyld.commander {
    background-image: linear-gradient(darkolivegreen, black);
}

.void.commander {
    background-image: linear-gradient(purple, black);
}

.factionless.commander {
    background-image: linear-gradient(grey, black);
}

img[src='Error.src'] {
    display: none;
}

.card-name {
    position: absolute;
    font-weight: bold;
    white-space: nowrap;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 100%;
}

    .card-name:hover {
        overflow: inherit;
        -ms-text-overflow: inherit;
        -o-text-overflow: inherit;
        text-overflow: inherit;
        white-space: inherit;
        z-index: 100;
        color: black;
        text-shadow: none;
        border-bottom: solid;
        border-width: 1px;
        background-color: #FFF;
    }

.card-id {
    display: none;
}

.card-name:hover .card-id {
    display: block;
}

.card-attack,
.card-health,
.delay,
.multiplier {
    position: absolute;
    font-weight: bold;
    width: 12px;
    text-align: center;
    color: white;
    z-index: 99;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.card .multiplier {
    left: auto;
    right: 4px;
    top: 50%;
    width: initial;
}

.item.card .multiplier {
    top: 82%;
}

.card img.multiplier {
    width: 30px;
    height: 18px;
    right: -2px;
    top: 48%;
}

.item.card img.multiplier {
    top: 80%;
}

.weight {
    position: absolute;
    font-weight: bold;
    width: 12px;
    text-align: center;
    color: white;
    z-index: 99;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    right: 0;
    width: 50px;
    height: 18px
}

.item.card .weight {
    top: 22%;
}
.item.card img.weight {
    top: 20%;
}

.card-attack {
    left: 4px;
    bottom: 7px;
    border: none;
    box-shadow: none;
    -ms-transform: rotate(-11deg); /* IE 9 */
    -webkit-transform: rotate(-11deg); /* Chrome, Safari, Opera */
    -moz-transform: rotate(-11deg);
    -o-transform: rotate(-11deg);
    transform: rotate(-11deg);
}

.card .attack {
    position: absolute;
    z-index: 98;
    left: 0;
    width: 20px;
    bottom: 0;
}

.card.commander .health {
    left: 0;
}

.card-health {
    right: 5px;
    bottom: 6px;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    -moz-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    transform: rotate(7deg);
}

.card .health {
    position: absolute;
    z-index: 98;
    right: 0;
    width: 20px;
    bottom: 2px;
}

.commander .card-health {
    left: 3px;
}

.card .delay {
    left: auto;
    right: 4px;
    top: 4px;
    margin: initial;
}

.field .card .delay {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -6px 0 0 -6px;
}

.card .timer {
    position: absolute;
    z-index: 98;
    top: 0;
    right: 0;
    left: auto;
    width: 20px;
}

.field .card .timer {
    position: absolute;
    z-index: 98;
    top: 50px;
    left: 32px;
    width: 20px;
}

.increased {
    color: lightgreen;
}

.decreased {
    color: red;
}

.card-skills-short {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    background-image: linear-gradient( 0, rgba(0,0,0,0.9), rgba(0,0,0,0.8) 80%, rgba(0,0,0,0.7) 85%, rgba(0,0,0,0.0));
}

    .card-skills-short img {
        margin-top: 12px;
        width: 12px;
    }

.card-skills-detailed {
    position: absolute;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    bottom: 0;
    padding: 10px 20px 22px 13px;
    left: 0;
    text-align: left;
    background-image: linear-gradient( 0, rgba(0,0,0,0.9), rgba(0,0,0,0.8) 80%, rgba(0,0,0,0.7) 85%, rgba(0,0,0,0.0));
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    white-space: nowrap;
}

    .card-skills-detailed img {
        width: 12px;
    }

.card-skills {
    visibility: hidden;
}

    .card-skills img {
        width: 12px;
    }

    .card-skills-short:hover ~ .card-skills,
    .card-skills:hover {
        position: absolute;
        width: 90%;
        height: auto;
        bottom: 13px;
        border: solid;
        border-color: grey;
        background-color: #FFF;
        border-radius: 5px;
        z-index: 99;
        visibility: visible;
    }

.card-statuses img {
    width: 12px;
}

.hidden {
    position: absolute;
    font-weight: bold;
    padding: 1px;
    top: 13px;
    width: 100%;
    text-align: center;
}

    .card-statuses,
    .hidden:hover ~ .card-statuses,
    .card-statuses:hover {
        position: absolute;
        top: 13px;
        width: 90%;
        border: solid;
        background-color: #FFF;
        border-radius: 5px;
        z-index: 100;
        visibility: visible;
    }

.card-buffs,
.card-debuffs {
    border: solid;
    border-radius: 5px;
}

.card-buffs {
    border-color: green;
}

.card-debuffs {
    border-color: red;
}

.left {
    -ms-transform: rotate(-7deg) translate(0, 5px); /* IE 9 */
    -webkit-transform: rotate(-7deg) translate(0, 5px); /* Chrome, Safari, Opera */
    -moz-transform: rotate(-7deg) translate(0, 5px);
    -o-transform: rotate(-7deg) translate(0, 5px);
    transform: rotate(-7deg) translate(0, 5px);
}

.right {
    -ms-transform: rotate(7deg) translate(0, 5px); /* IE 9 */
    -webkit-transform: rotate(7deg) translate(0, 5px); /* Chrome, Safari, Opera */
    -moz-transform: rotate(7deg) translate(0, 5px);
    -o-transform: rotate(7deg) translate(0, 5px);
    transform: rotate(7deg) translate(0, 5px);
}

.hand .card {
    margin-left: 2px;
    margin-right: 2px;
}

.float-left {
    display: block;
}

.hand {
    position: relative;
    left: 80px;
}

.field {
    width: 100%;
    display: inline-block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

    .field .float-left {
        border-top-style: solid;
        border-bottom-style: solid;
        padding: 5px;
        height: 120px;
        margin-bottom: 5px;
    }

.float-left .card {
    width: 84px;
    height: 120px;
    margin: 2px;
    display: inline-block;
    vertical-align: top;
}

.float-left .spacer {
    float: left;
    height: 100%;
    border: solid;
    border-width: 1px;
    margin-right: 5px;
}

.inactive i {
    -webkit-filter: blur(1px) grayscale(70%); /* Chrome, Safari, Opera */ /* Chrome, Safari, Opera */
    filter: blur(1px) grayscale(70%); /* Chrome, Safari, Opera */
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .inactive i {
        box-shadow: inset 0 0 0 42px rgba(0,0,0,0.75);
    }
}

.frozen:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: cyan;
    z-index: 1000;
}

.item-image {
    position: absolute;
    width: 48px;
    left: 18px;
    top: 34px;
}
