h1,
.collapser {
    background-color: lightgray;
    width: 100%;
}

    .collapser img {
        vertical-align: middle;
    }

    .collapser h1 {
        vertical-align: middle;
        display: inline-block;
        margin: 0px;
    }

    .collapser td {
        white-space: nowrap;
    }

.selected {
    background: grey;
}

.selected-advanced {
    background: darkblue;
}

input[type="image"] {
    height: 21px;
    padding-left: 2px;
}

#cardSpace .card.picked {
    display: none;
}

input[type="button"].attack-filter,
input[type="button"].health-filter,
input[type="button"].delay-filter {
    box-sizing: content-box;
    min-height: 24px;
    min-width: 24px;
    padding: 0;
    margin: 0px 0px 0px 1px;
    text-align: center;
    border: 0;
    background: none;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

input[type="button"].selected {
    background: grey;
}

.tooltip {
    display: none;
}

input[type="image"]:hover + .tooltip {
    display: block;
    position: absolute;
    background-color: white;
    top: -10px;
    right: 25px;
    overflow: visible;
    color: grey;
    border: 1px solid grey;
    font-size: 12px;
    padding: 2px;
    white-space: nowrap;
    z-index: 9999;
}

input[type="button"].delay-filter {
    background-image: url('../res/cardAssets/Timer.png');
    background-size: contain;
}

input[type="button"].health-filter {
    font-size: 8px;
    background-image: url('../res/cardAssets/Health.png');
    background-size: contain;
}

input[type="button"].attack-filter {
    font-size: 8px;
    margin: 0;
    padding: 5px 0px 0px 2px;
    background-image: url('../res/cardAssets/Attack2.png');
    background-size: cover;
}

.collapsible {
    height: auto;
    transition: max-height 0.25s ease-in;
    max-height: 80%;
    overflow: auto;
}

    .collapsible.collapsed {
        overflow: hidden;
        max-height: 0px;
        transition: max-height 0.15s ease-out;
    }

#filters fieldset {
    display: inline;
    padding: 2px;
    margin: 0;
    min-height: 32px;
    vertical-align: top;
}

.dialog-form {
    padding: 0;
}

    .dialog-form label {
        display: block;
        width: 100%;
    }

    .dialog-form input[type=number] {
        width: 40%;
    }

    .dialog-form label {
        float: left;
        display: block;
        text-align: left;
    }

    .dialog-form select {
        float: left;
        display: block;
        text-align: left;
    }

    .dialog-form span {
        float: left;
        margin: 2px;
    }

    .dialog-form div,
    .dialog-form select {
        width: 100%;
    }

        .dialog-form div.split {
            width: 50%;
            float: left;
        }

    .dialog-form #upgrade {
        width: initial,;
    }

#filters span {
    float: left;
    margin: 5px 5px 0px 0px;
}

.ui-draggable .ui-dialog-titlebar {
    display: none;
}
