.card {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none; /* IE 10+ */
}

.accordion div.ui-accordion-content {
    padding: 0;
}

.ui-accordion-header.ui-state-active {
    background: #e6e6e6 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAGQCAYAAABvWArbAAAANUlEQVQ4je3LMQoAIBADwb38/6t5wFXaWAiCtUiaYZvF9hBACOFbuntVVe11B0CSjjeE8BwThQIJ8dhEl0YAAAAASUVORK5CYII=') /*../Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png*/ 50% 50% repeat-x;
}

.ui-accordion .ui-accordion-header {
    font-weight: bold;
}

.chartContainer {
    display: inline-block;
    border: 1px solid black;
}

.ct-barlabel {
    font-size: 16px;
    stroke: black;
}

.ct-series-a .ct-barlabel {
    font-size: 20px;
}

.ct-chart .ct-bar {
    stroke-width: 20px;
}

.ct-chart {
    padding: 10px;
    position: relative;
}

.ct-series-Factionless {
    fill: #86797d;
}

.ct-series-Aether {
    fill: steelblue;
}

.ct-legend .ct-series-Aether:before {
    border-color: steelblue;
    background-color: steelblue;
}

.ct-series-Chaos {
    fill: maroon;
}

.ct-legend .ct-series-Chaos:before {
    border-color: maroon;
    background-color: maroon;
}

.ct-series-Wyld {
    fill: darkolivegreen;
}

.ct-legend .ct-series-Wyld:before {
    border-color: darkolivegreen;
    background-color: darkolivegreen;
}

.ct-series-Void {
    fill: purple;
}

.ct-legend .ct-series-Void:before {
    border-color: purple;
    background-color: purple;
}

.ct-series-Frog {
    fill: #59922b;
}

.ct-series-Elemental {
    fill: #8e4718;
}

.ct-series-Angel {
    fill: #c3bdab;
}

.ct-series-Undead {
    fill: #451717;
}

.ct-series-Dragon {
    fill: #bd1d00;
}

.ct-series-Avian {
    fill: #6b0392;
}

.ct-series-Goblin {
    fill: #b2c326;
}

.ct-series-Seafolk {
    fill: #61c2e2;
}

.ct-series-Insect {
    fill: #d17905;
}

.ct-series-Ant {
    fill: #d17905;
}

.ct-series-attack {
    stroke: #590579;
}

.ct-legend .ct-series-attack:before {
    border-color: #590579;
    background-color: #590579;
}

.ct-series-health {
    stroke: #a9263a;
}

.ct-series-delay {
    stroke: steelblue;
}

.ct-legend .ct-series-health:before {
    border-color: #a9263a;
    background-color: #a9263a;
}

.ct-legend .ct-series-delay:before {
    border-color: steelblue;
    background-color: steelblue;
}

.ct-legend {
    position: relative;
    z-index: 10;
    list-style: none;
}

    .ct-legend.ct-legend-inside {
        position: absolute;
        top: 0;
        right: 0;
    }

    .ct-legend li {
        position: relative;
        padding-left: 23px;
        margin-bottom: 3px;
        cursor: pointer;
    }

        .ct-legend li:before {
            width: 12px;
            height: 12px;
            position: absolute;
            left: 0;
            content: '';
            border: 3px solid transparent;
            border-radius: 2px;
        }

    .ct-legend .ct-series-Factionless:before {
        border-color: #86797d;
        background-color: #86797d;
    }

    .ct-legend .ct-series-Frog:before {
        border-color: #59922b;
        background-color: #59922b;
    }

    .ct-legend .ct-series-Elemental:before {
        border-color: #8e4718;
        background-color: #8e4718;
    }

    .ct-legend .ct-series-Angel:before {
        border-color: #c3bdab;
        background-color: #c3bdab;
    }

    .ct-legend .ct-series-Undead:before {
        border-color: #451717;
        background-color: #451717;
    }

    .ct-legend .ct-series-Dragon:before {
        border-color: #bd1d00;
        background-color: #bd1d00;
    }

    .ct-legend .ct-series-Avian:before {
        border-color: #6b0392;
        background-color: #6b0392;
    }

    .ct-legend .ct-series-Goblin:before {
        border-color: #b2c326;
        background-color: #b2c326;
    }

    .ct-legend .ct-series-Seafolk:before {
        border-color: #61c2e2;
        background-color: #61c2e2;
    }

    .ct-legend .ct-series-Insect:before {
        border-color: #d17905;
        background-color: #d17905;
    }

    .ct-legend .ct-series-Ant:before {
        border-color: #d17905;
        background-color: #d17905;
    }

    .ct-legend li.inactive:before {
        background: transparent;
    }

svg {
    overflow: visible;
}

#factionChart {
    padding-bottom: 40px;
}

.ct-chart-pie .ct-label {
    fill: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#factionChart .ct-label.ct-horizontal {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transform: rotate(-75deg);
    transform-origin: 100% 0;
    text-align: right;
    max-height: 1.5em;
    min-width: 100px;
    max-width: 100px;
}

/* Factionless */
#factionChart .ct-series-a .ct-bar {
    stroke: grey;
}
/* Aether */
#factionChart .ct-series-b .ct-bar {
    stroke: steelblue;
}
/* Chaos */
#factionChart .ct-series-c .ct-bar {
    stroke: maroon;
}
/* Wyld */
#factionChart .ct-series-d .ct-bar {
    stroke: darkolivegreen;
}
/* Void */
#factionChart .ct-series-e .ct-bar {
    stroke: purple;
}

#filters input[type="image"] {
    height: 21px;
    padding-left: 2px;
}

#cardSpace .card.picked {
    display: none;
}

input[type="button"].attack-filter,
input[type="button"].health-filter,
input[type="button"].delay-filter {
    box-sizing: content-box;
    min-height: 24px;
    min-width: 24px;
    padding: 0;
    margin: 0px 0px 0px 1px;
    text-align: center;
    border: 0;
    background: none;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


input[type="button"].selected {
    background: grey;
}

input[type="button"].excluded {
    background: maroon;
}

.selected {
    background: grey;
}

.excluded {
    background: maroon;
}

.selected-advanced {
    background: darkblue;
}

.tooltip {
    display: none;
}

input[type="image"]:hover + .tooltip {
    display: block;
    position: absolute;
    background-color: white;
    top: -10px;
    right: 25px;
    overflow: visible;
    color: grey;
    border: 1px solid grey;
    font-size: 12px;
    padding: 2px;
    white-space: nowrap;
    z-index: 9999;
}

input[type="button"].delay-filter {
    background-image: url('../res/cardAssets/Timer.png');
    background-size: contain;
}

input[type="button"].health-filter {
    font-size: 8px;
    background-image: url('../res/cardAssets/Health.png');
    background-size: contain;
}

input[type="button"].attack-filter {
    font-size: 8px;
    margin: 0;
    padding: 5px 0px 0px 2px;
    background-image: url('../res/cardAssets/Attack2.png');
    background-size: cover;
}

fieldset {
    display: inline;
    padding: 0px;
    margin: 0px;
    min-height: 32px;
    vertical-align: top;
}

.dialog-form {
    padding: 0;
    display: none;
}

    .dialog-form label {
        display: block;
        width: 100%;
    }

    .dialog-form input[type=number] {
        width: 40%;
    }

    .dialog-form label {
        float: left;
        display: block;
        text-align: left;
    }

    .dialog-form select {
        float: left;
        display: block;
        text-align: left;
    }

    .dialog-form span {
        float: left;
        margin: 2px;
    }

    .dialog-form div.full,
    .dialog-form select {
        width: 100%;
    }

    .dialog-form div.split {
        width: 50%;
        float: left;
    }

    .dialog-form #upgrade {
        width: initial,;
    }

#filters span {
    float: left;
    margin: 5px 5px 0px 0px;
}

/*
.ui-draggable .ui-dialog-titlebar {
    display: none;
}
*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.dropdown:hover .dropdown-content {
    display: block;
    z-index: 999;
}

.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#advancedFilters,
#unitOptions,
#inventoryOptions {
    padding: 0;
}

.accordion td {
    white-space: nowrap;
}

#placeholder {
    width: 400px;
    min-height: 400px;
}

.highlighter, .highlighted {
    /*width: 90%;*/
    font-family: 'Verdana';
}

.highlighter {
    position: absolute;
    padding: 1px;
    margin-left: 1px;
    /*color: white;*/
    color: transparent;
    overflow: hidden;
}

    .highlighter span {
        background: gold;
        color: gold;
    }

.highlighted {
    position: relative;
    background-color: transparent;
}

#cardSpace {
    margin-bottom: 50px;
}

.ui-autocomplete {
    max-width: 300px;
    max-height: 150px;
    overflow-y: auto;
}
