.sprite {
    background-repeat: no-repeat;
    background-image: url('../res/cardImages/SpriteSheet.png');
    display: block;
    width: 84px;
    height: 120px;
}

.sprite-Acid_Elemental_A{ background-position: -0px 0; }
.sprite-Acid_Elemental_B{ background-position: -84px 0; }
.sprite-aetherBoss_A{ background-position: -168px 0; }
.sprite-Air_Nymph_A{ background-position: -252px 0; }
.sprite-Air_Nymph_B{ background-position: -336px 0; }
.sprite-Air_Nymph_C{ background-position: -420px 0; }
.sprite-angelknight{ background-position: -504px 0; }
.sprite-Angel_Champion_A{ background-position: -588px 0; }
.sprite-Angel_Champion_B{ background-position: -672px 0; }
.sprite-Angel_Knight_A{ background-position: -756px 0; }
.sprite-Angel_Knight_B{ background-position: -840px 0; }
.sprite-Angel_Knight_C{ background-position: -924px 0; }
.sprite-Angler_Fish_A{ background-position: -1008px 0; }
.sprite-Angler_Fish_B{ background-position: -1092px 0; }
.sprite-Angler_Fish_C{ background-position: -1176px 0; }
.sprite-Arcane_Ore{ background-position: -1260px 0; }
.sprite-Arcane_Pumpkin_A{ background-position: -1344px 0; }
.sprite-Arcane_Pumpkin_B{ background-position: -1428px 0; }
.sprite-Arcane_Pumpkin_C{ background-position: -1512px 0; }
.sprite-Armored_Eagle_A{ background-position: -1596px 0; }
.sprite-Armored_Eagle_B{ background-position: -1680px 0; }
.sprite-Armored_Eagle_C{ background-position: -1764px 0; }
.sprite-Armored_Ogre_A{ background-position: -1848px 0; }
.sprite-Armored_Ogre_B{ background-position: -1932px 0; }
.sprite-Armored_Rock_Frog_A{ background-position: -2016px 0; }
.sprite-Armored_Rock_Frog_B{ background-position: -2100px 0; }
.sprite-Ash_Elemental_A{ background-position: -2184px 0; }
.sprite-Ash_Elemental_B{ background-position: -2268px 0; }
.sprite-Avalanche_Spirit_A{ background-position: -2352px 0; }
.sprite-Avalanche_Spirit_B{ background-position: -2436px 0; }
.sprite-Avenging_Angel_A{ background-position: -2520px 0; }
.sprite-Avenging_Angel_B{ background-position: -2604px 0; }
.sprite-Avenging_Angel_C{ background-position: -2688px 0; }
.sprite-balrog{ background-position: -2772px 0; }
.sprite-Balrog_A{ background-position: -2856px 0; }
.sprite-Balrog_B{ background-position: -2940px 0; }
.sprite-Balrog_C{ background-position: -3024px 0; }
.sprite-bearcommander{ background-position: -3108px 0; }
.sprite-Bear_Warrior_A{ background-position: -3192px 0; }
.sprite-Bear_Warrior_B{ background-position: -3276px 0; }
.sprite-Bear_Warrior_C{ background-position: -3360px 0; }
.sprite-Beetle_Frog_A{ background-position: -3444px 0; }
.sprite-Beetle_Frog_B{ background-position: -3528px 0; }
.sprite-Black_Knight_A{ background-position: -3612px 0; }
.sprite-Black_Knight_B{ background-position: -3696px 0; }
.sprite-Black_Knight_C{ background-position: -3780px 0; }
.sprite-Blood_Demon_A{ background-position: -3864px 0; }
.sprite-Blood_Demon_B{ background-position: -3948px 0; }
.sprite-Blood_Demon_C{ background-position: -4032px 0; }
.sprite-Bombardier_Frog_A{ background-position: -4116px 0; }
.sprite-Bombardier_Frog_B{ background-position: -4200px 0; }
.sprite-Bomb_Spirit_A{ background-position: -4284px 0; }
.sprite-Bomb_Spirit_B{ background-position: -4368px 0; }
.sprite-Branding_Metal_Construct_A{ background-position: -4452px 0; }
.sprite-Branding_Metal_Construct_B{ background-position: -4536px 0; }
.sprite-Branding_Metal_Construct_C{ background-position: -4620px 0; }
.sprite-Broodmother_A{ background-position: -4704px 0; }
.sprite-Broodmother_B{ background-position: -4788px 0; }
.sprite-Burning_Golem_A{ background-position: -4872px 0; }
.sprite-Burning_Golem_B{ background-position: -4956px 0; }
.sprite-Burning_Golem_C{ background-position: -5040px 0; }
.sprite-Canopy_Horror_A{ background-position: -5124px 0; }
.sprite-Canopy_Horror_B{ background-position: -5208px 0; }
.sprite-cavernsofcrossings{ background-position: -5292px 0; }
.sprite-Cerberus_A{ background-position: -5376px 0; }
.sprite-Cerberus_B{ background-position: -5460px 0; }
.sprite-Cerberus_C{ background-position: -5544px 0; }
.sprite-Chalicotherium_A{ background-position: -5628px 0; }
.sprite-Chalicotherium_B{ background-position: -5712px 0; }
.sprite-chaosBoss_A{ background-position: -5796px 0; }
.sprite-chaosguardian{ background-position: -5880px 0; }
.sprite-Chaos_Golem_A{ background-position: -5964px 0; }
.sprite-Chaos_Golem_B{ background-position: -6048px 0; }
.sprite-Chaos_Golem_C{ background-position: -6132px 0; }
.sprite-Chaos_Spirit_A{ background-position: -6216px 0; }
.sprite-Chaos_Spirit_B{ background-position: -6300px 0; }
.sprite-Chaos_Spirit_C{ background-position: -6384px 0; }
.sprite-Chariot_A{ background-position: -6468px 0; }
.sprite-Chariot_B{ background-position: -6552px 0; }
.sprite-Chariot_C{ background-position: -6636px 0; }
.sprite-Cherub_A{ background-position: -6720px 0; }
.sprite-Cherub_B{ background-position: -6804px 0; }
.sprite-Cherub_C_02{ background-position: -6888px 0; }
.sprite-Cloud_Elemental_A{ background-position: -6972px 0; }
.sprite-Cloud_Elemental_B{ background-position: -7056px 0; }
.sprite-Cloud_Elemental_C{ background-position: -7140px 0; }
.sprite-Colossal_Beast_A{ background-position: -7224px 0; }
.sprite-Colossal_Beast_B{ background-position: -7308px 0; }
.sprite-Colossal_Beast_C{ background-position: -7392px 0; }
.sprite-Concealed_Dragon_A{ background-position: -7476px 0; }
.sprite-Concealed_Dragon_B{ background-position: -7560px 0; }
.sprite-Coral_Elemental_A{ background-position: -7644px 0; }
.sprite-Coral_Elemental_B{ background-position: -7728px 0; }
.sprite-Desert_Lizard_Demon_A{ background-position: -7812px 0; }
.sprite-Desert_Lizard_Demon_B{ background-position: -7896px 0; }
.sprite-Devote_Oracle_A{ background-position: -7980px 0; }
.sprite-Devote_Oracle_B{ background-position: -8064px 0; }
.sprite-Devote_Oracle_C{ background-position: -8148px 0; }
.sprite-Dire_Wolf_A{ background-position: -8232px 0; }
.sprite-Dire_Wolf_B{ background-position: -8316px 0; }
.sprite-Dire_Wolf_C{ background-position: -8400px 0; }
.sprite-Dragon_Of_Life_A{ background-position: -8484px 0; }
.sprite-Dragon_Of_Life_B{ background-position: -8568px 0; }
.sprite-Dragon_Of_Life_C{ background-position: -8652px 0; }
.sprite-Dragon_Tamer_A{ background-position: -8736px 0; }
.sprite-Dragon_Tamer_B{ background-position: -8820px 0; }
.sprite-Dragon_Warlord_A{ background-position: -8904px 0; }
.sprite-Dragon_Warlord_B{ background-position: -8988px 0; }
.sprite-Druid_A{ background-position: -9072px 0; }
.sprite-Druid_B{ background-position: -9156px 0; }
.sprite-Druid_C{ background-position: -9240px 0; }
.sprite-Dust_Mite{ background-position: -9324px 0; }
.sprite-Eagle_Warrior_A{ background-position: -9408px 0; }
.sprite-Eagle_Warrior_B{ background-position: -9492px 0; }
.sprite-Eagle_Warrior_C{ background-position: -9576px 0; }
.sprite-Earthquake_Hammer_A{ background-position: -9660px 0; }
.sprite-Earthquake_Hammer_B{ background-position: -9744px 0; }
.sprite-Earthquake_Hammer_C{ background-position: -9828px 0; }
.sprite-Earth_Elemental_A{ background-position: -9912px 0; }
.sprite-Earth_Elemental_B{ background-position: -9996px 0; }
.sprite-Earth_Elemental_C{ background-position: -10080px 0; }
.sprite-Elk_Dragon_A{ background-position: -10164px 0; }
.sprite-Elk_Dragon_B{ background-position: -10248px 0; }
.sprite-elyse{ background-position: -10332px 0; }
.sprite-Ember_Drake_A{ background-position: -10416px 0; }
.sprite-Ember_Drake_B{ background-position: -10500px 0; }
.sprite-Emperor_Frog_A{ background-position: -10584px 0; }
.sprite-Emperor_Frog_B{ background-position: -10668px 0; }
.sprite-Enemy_Tower_A{ background-position: -10752px 0; }
.sprite-Fairy_A{ background-position: -10836px 0; }
.sprite-Fairy_B{ background-position: -10920px 0; }
.sprite-Fairy_C{ background-position: -11004px 0; }
.sprite-Fallen_Angel_A{ background-position: -11088px 0; }
.sprite-Fallen_Angel_B{ background-position: -11172px 0; }
.sprite-Fallen_Angel_C{ background-position: -11256px 0; }
.sprite-Fire_Dragon_A{ background-position: -11340px 0; }
.sprite-Fire_Dragon_B{ background-position: -11424px 0; }
.sprite-Fire_Dragon_C{ background-position: -11508px 0; }
.sprite-Fire_Elemental_Bull_A{ background-position: -11592px 0; }
.sprite-Fire_Elemental_Bull_B{ background-position: -11676px 0; }
.sprite-Fire_Furnace_A{ background-position: -11760px 0; }
.sprite-Fire_Furnace_B{ background-position: -11844px 0; }
.sprite-Fire_Furnace_C{ background-position: -11928px 0; }
.sprite-Fire_Imp_A{ background-position: -12012px 0; }
.sprite-Fire_Imp_B{ background-position: -12096px 0; }
.sprite-Fire_Imp_C{ background-position: -12180px 0; }
.sprite-Fire_Titan_A{ background-position: -12264px 0; }
.sprite-Fire_Titan_B{ background-position: -12348px 0; }
.sprite-Fire_Titan_C{ background-position: -12432px 0; }
.sprite-flamebender{ background-position: -12516px 0; }
.sprite-Flame_Spirit_A{ background-position: -12600px 0; }
.sprite-Flame_Spirit_B{ background-position: -12684px 0; }
.sprite-Flame_Spirit_C{ background-position: -12768px 0; }
.sprite-Flaming_Skeleton_Warrior_A{ background-position: -12852px 0; }
.sprite-Flaming_Skeleton_Warrior_B{ background-position: -12936px 0; }
.sprite-Flaming_Skeleton_Warrior_C{ background-position: -13020px 0; }
.sprite-Floating_Word_A{ background-position: -13104px 0; }
.sprite-Floating_Word_B{ background-position: -13188px 0; }
.sprite-Floating_Word_C{ background-position: -13272px 0; }
.sprite-Flock_of_Birds_A{ background-position: -13356px 0; }
.sprite-Flock_of_Birds_B{ background-position: -13440px 0; }
.sprite-Forest_Beast_A{ background-position: -13524px 0; }
.sprite-Forest_Beast_B{ background-position: -13608px 0; }
.sprite-Forest_Beast_C{ background-position: -13692px 0; }
.sprite-Fox_Trickster_A{ background-position: -13776px 0; }
.sprite-Fox_Trickster_B{ background-position: -13860px 0; }
.sprite-Fox_Trickster_C{ background-position: -13944px 0; }
.sprite-Frogling_Swarm_A{ background-position: -14028px 0; }
.sprite-Frogling_Swarm_B{ background-position: -14112px 0; }
.sprite-Frog_Bard_A{ background-position: -14196px 0; }
.sprite-Frog_Bard_B{ background-position: -14280px 0; }
.sprite-Frog_Hero_A{ background-position: -14364px 0; }
.sprite-Frog_Hero_B{ background-position: -14448px 0; }
.sprite-Frog_Hero_C{ background-position: -14532px 0; }
.sprite-Frog_Sage_A{ background-position: -14616px 0; }
.sprite-Frog_Sage_B{ background-position: -14700px 0; }
.sprite-Frog_Sage_C{ background-position: -14784px 0; }
.sprite-Frog_Scout_A{ background-position: -14868px 0; }
.sprite-Frog_Scout_B{ background-position: -14952px 0; }
.sprite-Frog_Scout_C{ background-position: -15036px 0; }
.sprite-Frog_Shaman_A{ background-position: -15120px 0; }
.sprite-Frog_Shaman_B{ background-position: -15204px 0; }
.sprite-Frog_Warrior_A{ background-position: -15288px 0; }
.sprite-Frog_Warrior_B{ background-position: -15372px 0; }
.sprite-Frog_Warrior_C{ background-position: -15456px 0; }
.sprite-Frost_Bite_A{ background-position: -15540px 0; }
.sprite-Frost_Wyrm_A{ background-position: -15624px 0; }
.sprite-Frost_Wyrm_B{ background-position: -15708px 0; }
.sprite-Frozen_Frog_A{ background-position: -15792px 0; }
.sprite-Frozen_Frog_B{ background-position: -15876px 0; }
.sprite-Frozen_Skeleton_A{ background-position: -15960px 0; }
.sprite-Frozen_Skeleton_B{ background-position: -16044px 0; }
.sprite-Frozen_Tide_A{ background-position: -16128px 0; }
.sprite-Frozen_Tide_B{ background-position: -16212px 0; }
.sprite-Giant_Mummy_A{ background-position: -16296px 0; }
.sprite-Giant_Mummy_B{ background-position: -16380px 0; }
.sprite-Giant_Spider_A{ background-position: -16464px 0; }
.sprite-Giant_Spider_B{ background-position: -16548px 0; }
.sprite-Giant_Spider_C{ background-position: -16632px 0; }
.sprite-Giant_Squid_A{ background-position: -16716px 0; }
.sprite-Giant_Squid_B{ background-position: -16800px 0; }
.sprite-Giant_Squid_C{ background-position: -16884px 0; }
.sprite-Glass_Colossuss_A{ background-position: -16968px 0; }
.sprite-Glass_Colossuss_B{ background-position: -17052px 0; }
.sprite-Glass_Colossuss_C{ background-position: -17136px 0; }
.sprite-Goblin_Gang_A{ background-position: -17220px 0; }
.sprite-Goblin_Gang_B{ background-position: -17304px 0; }
.sprite-Goblin_Gang_C{ background-position: -17388px 0; }
.sprite-Goblin_Rogue_A{ background-position: -17472px 0; }
.sprite-Goblin_Rogue_B{ background-position: -17556px 0; }
.sprite-Goblin_Rogue_C{ background-position: -17640px 0; }
.sprite-goldelemental{ background-position: -17724px 0; }
.sprite-Gold_Elemental_A{ background-position: -17808px 0; }
.sprite-Gold_Elemental_B{ background-position: -17892px 0; }
.sprite-Grand_Archgeneral_A{ background-position: -17976px 0; }
.sprite-Grand_Archgeneral_B{ background-position: -18060px 0; }
.sprite-Gravity_Elemental_A{ background-position: -18144px 0; }
.sprite-Gravity_Elemental_B{ background-position: -18228px 0; }
.sprite-Great_Aurora_A{ background-position: -18312px 0; }
.sprite-Great_Aurora_B{ background-position: -18396px 0; }
.sprite-Griffin_Knight_A{ background-position: -18480px 0; }
.sprite-Griffin_Knight_B{ background-position: -18564px 0; }
.sprite-Griffin_Knight_C{ background-position: -18648px 0; }
.sprite-groc{ background-position: -18732px 0; }
.sprite-Hail_Hurler_A{ background-position: -18816px 0; }
.sprite-Hail_Hurler_B{ background-position: -18900px 0; }
.sprite-Heart_Of_The_Woods_A{ background-position: -18984px 0; }
.sprite-Heart_Of_The_Woods_B{ background-position: -19068px 0; }
.sprite-Heart_Of_The_Woods_C{ background-position: -19152px 0; }
.sprite-Hellfrog_A{ background-position: -19236px 0; }
.sprite-Hellfrog_B{ background-position: -19320px 0; }
.sprite-Hellfrog_C{ background-position: -19404px 0; }
.sprite-Henry_Zhao_Dragon_A{ background-position: -19488px 0; }
.sprite-Henry_Zhao_Dragon_B{ background-position: -19572px 0; }
.sprite-High_Knight_Frog_A{ background-position: -19656px 0; }
.sprite-High_Knight_Frog_B{ background-position: -19740px 0; }
.sprite-Honeycomb_Dragon_A{ background-position: -19824px 0; }
.sprite-Honeycomb_Dragon_B{ background-position: -19908px 0; }
.sprite-Horned_Lizard_A{ background-position: -19992px 0; }
.sprite-Horned_Lizard_B{ background-position: -20076px 0; }
.sprite-Horned_Lizard_C{ background-position: -20160px 0; }
.sprite-Huntress_Frog_A{ background-position: -20244px 0; }
.sprite-Huntress_Frog_B{ background-position: -20328px 0; }
.sprite-Hypnofrog_A{ background-position: -20412px 0; }
.sprite-Hypnofrog_B{ background-position: -20496px 0; }
.sprite-Ice_Dragon_A{ background-position: -20580px 0; }
.sprite-Ice_Dragon_B{ background-position: -20664px 0; }
.sprite-Ice_Elemental_A{ background-position: -20748px 0; }
.sprite-Ice_Elemental_B{ background-position: -20832px 0; }
.sprite-Ice_Giant_A{ background-position: -20916px 0; }
.sprite-Ice_Giant_B{ background-position: -21000px 0; }
.sprite-Ice_Golem_A{ background-position: -21084px 0; }
.sprite-Ice_Golem_B{ background-position: -21168px 0; }
.sprite-Ice_Golem_C{ background-position: -21252px 0; }
.sprite-Ice_Witch_A{ background-position: -21336px 0; }
.sprite-Ice_Witch_B{ background-position: -21420px 0; }
.sprite-Ice_Yeti_A{ background-position: -21504px 0; }
.sprite-Ice_Yeti_B{ background-position: -21588px 0; }
.sprite-Invisible_Assassin_A{ background-position: -21672px 0; }
.sprite-Invisible_Assassin_B{ background-position: -21756px 0; }
.sprite-Invisible_Assassin_C{ background-position: -21840px 0; }
.sprite-Judgement_A{ background-position: -21924px 0; }
.sprite-Judgement_B{ background-position: -22008px 0; }
.sprite-Judgement_C{ background-position: -22092px 0; }
.sprite-Kestral_A{ background-position: -22176px 0; }
.sprite-Kestral_B{ background-position: -22260px 0; }
.sprite-Kestral_C{ background-position: -22344px 0; }
.sprite-Kraken_A{ background-position: -22428px 0; }
.sprite-Kraken_B{ background-position: -22512px 0; }
.sprite-Kraken_C{ background-position: -22596px 0; }
.sprite-Lady_of_the_Swamp_A{ background-position: -22680px 0; }
.sprite-Lady_of_the_Swamp_B{ background-position: -22764px 0; }
.sprite-Lantern_Guardian_A{ background-position: -22848px 0; }
.sprite-Lantern_Guardian_B{ background-position: -22932px 0; }
.sprite-lavacrab{ background-position: -23016px 0; }
.sprite-Lava_Crab_A{ background-position: -23100px 0; }
.sprite-Lava_Crab_B{ background-position: -23184px 0; }
.sprite-Lava_Crab_C{ background-position: -23268px 0; }
.sprite-Lava_Slug_A{ background-position: -23352px 0; }
.sprite-Lava_Slug_B{ background-position: -23436px 0; }
.sprite-Lava_Slug_C{ background-position: -23520px 0; }
.sprite-Legendary_Chaos_Frog_A{ background-position: -23604px 0; }
.sprite-Legendary_Chaos_Frog_B{ background-position: -23688px 0; }
.sprite-lichking{ background-position: -23772px 0; }
.sprite-Life_Drake_A{ background-position: -23856px 0; }
.sprite-Life_Drake_B{ background-position: -23940px 0; }
.sprite-Lighting_Lord_A{ background-position: -24024px 0; }
.sprite-Lighting_Lord_B{ background-position: -24108px 0; }
.sprite-Lighting_Lord_C{ background-position: -24192px 0; }
.sprite-Lightning_Elemental_A{ background-position: -24276px 0; }
.sprite-Lightning_Elemental_B{ background-position: -24360px 0; }
.sprite-Lightning_Elemental_C{ background-position: -24444px 0; }
.sprite-Light_Elemental_A{ background-position: -24528px 0; }
.sprite-Light_Elemental_B{ background-position: -24612px 0; }
.sprite-Light_Wisp_A{ background-position: -24696px 0; }
.sprite-Light_Wisp_B{ background-position: -24780px 0; }
.sprite-Light_Wisp_C{ background-position: -24864px 0; }
.sprite-Living_Heiroglyphic_A{ background-position: -24948px 0; }
.sprite-Living_Heiroglyphic_B{ background-position: -25032px 0; }
.sprite-Living_Heiroglyphic_C{ background-position: -25116px 0; }
.sprite-Lost_Captain_A{ background-position: -25200px 0; }
.sprite-Lost_Captain_B{ background-position: -25284px 0; }
.sprite-Lost_Soul_A{ background-position: -25368px 0; }
.sprite-Lost_Soul_B{ background-position: -25452px 0; }
.sprite-Lunar_Elemental_A{ background-position: -25536px 0; }
.sprite-Lunar_Elemental_B{ background-position: -25620px 0; }
.sprite-Marble_Sphinx_A{ background-position: -25704px 0; }
.sprite-Marble_Sphinx_B{ background-position: -25788px 0; }
.sprite-Marble_Sphinx_C{ background-position: -25872px 0; }
.sprite-Marsh_Ogre_A{ background-position: -25956px 0; }
.sprite-Marsh_Ogre_B{ background-position: -26040px 0; }
.sprite-Master_Of_Elements_A{ background-position: -26124px 0; }
.sprite-Master_Of_Elements_B{ background-position: -26208px 0; }
.sprite-Master_Of_Elements_C{ background-position: -26292px 0; }
.sprite-Mastodon_Mage_A{ background-position: -26376px 0; }
.sprite-Mastodon_Mage_B{ background-position: -26460px 0; }
.sprite-Mermaid_Mage_A{ background-position: -26544px 0; }
.sprite-Mermaid_Mage_B{ background-position: -26628px 0; }
.sprite-Mermaid_Mage_C{ background-position: -26712px 0; }
.sprite-Molten_Dragon_A{ background-position: -26796px 0; }
.sprite-Molten_Dragon_B{ background-position: -26880px 0; }
.sprite-Molten_Flame_A{ background-position: -26964px 0; }
.sprite-Molten_Flame_B{ background-position: -27048px 0; }
.sprite-Molten_Flame_C{ background-position: -27132px 0; }
.sprite-Moss_Golem_A{ background-position: -27216px 0; }
.sprite-Moss_Golem_B{ background-position: -27300px 0; }
.sprite-Moss_Golem_C{ background-position: -27384px 0; }
.sprite-Mountainpass_Defender_A{ background-position: -27468px 0; }
.sprite-Mountainpass_Defender_B{ background-position: -27552px 0; }
.sprite-Multi_Armed_Beast_A{ background-position: -27636px 0; }
.sprite-Multi_Armed_Beast_B{ background-position: -27720px 0; }
.sprite-Mystical_Fox_Spirit_A{ background-position: -27804px 0; }
.sprite-Mystical_Fox_Spirit_B{ background-position: -27888px 0; }
.sprite-necromancer{ background-position: -27972px 0; }
.sprite-New1_A{ background-position: -28056px 0; }
.sprite-New1_B{ background-position: -28140px 0; }
.sprite-New2_A{ background-position: -28224px 0; }
.sprite-New2_B{ background-position: -28308px 0; }
.sprite-New3_A{ background-position: -28392px 0; }
.sprite-New3_B{ background-position: -28476px 0; }
.sprite-Night_Dragon_A{ background-position: -28560px 0; }
.sprite-Night_Dragon_B{ background-position: -28644px 0; }
.sprite-NotFound{ background-position: -28728px 0; }
.sprite-Oliphant_A{ background-position: -28812px 0; }
.sprite-Oliphant_B{ background-position: -28896px 0; }
.sprite-Oliphant_C{ background-position: -28980px 0; }
.sprite-owlmystic{ background-position: -29064px 0; }
.sprite-Owl_Leopard_A{ background-position: -29148px 0; }
.sprite-Owl_Leopard_B{ background-position: -29232px 0; }
.sprite-Paladin_Angel_A{ background-position: -29316px 0; }
.sprite-Paladin_Angel_B{ background-position: -29400px 0; }
.sprite-Paladin_Angel_C{ background-position: -29484px 0; }
.sprite-Pegasus_A{ background-position: -29568px 0; }
.sprite-Pegasus_B{ background-position: -29652px 0; }
.sprite-Pegasus_C{ background-position: -29736px 0; }
.sprite-Penguin_Warrior_A{ background-position: -29820px 0; }
.sprite-Penguin_Warrior_B{ background-position: -29904px 0; }
.sprite-Phase_Imp_A{ background-position: -29988px 0; }
.sprite-Phase_Imp_B{ background-position: -30072px 0; }
.sprite-Phase_Imp_C{ background-position: -30156px 0; }
.sprite-Plague_of_Fire_Locusts_A{ background-position: -30240px 0; }
.sprite-Plague_of_Fire_Locusts_B{ background-position: -30324px 0; }
.sprite-Plague_of_Fire_Locusts_C{ background-position: -30408px 0; }
.sprite-Platinum_Elemental_A{ background-position: -30492px 0; }
.sprite-Platinum_Elemental_B{ background-position: -30576px 0; }
.sprite-Poison_Dragon_A{ background-position: -30660px 0; }
.sprite-Poison_Dragon_B{ background-position: -30744px 0; }
.sprite-Poison_Frog_A{ background-position: -30828px 0; }
.sprite-Poison_Frog_B{ background-position: -30912px 0; }
.sprite-Poison_Frog_C{ background-position: -30996px 0; }
.sprite-Polar_Bear_Warrior_A{ background-position: -31080px 0; }
.sprite-Polar_Bear_Warrior_B{ background-position: -31164px 0; }
.sprite-Poliworg_A{ background-position: -31248px 0; }
.sprite-Poliworg_B{ background-position: -31332px 0; }
.sprite-ranger{ background-position: -31416px 0; }
.sprite-Ranger_A{ background-position: -31500px 0; }
.sprite-Ranger_B{ background-position: -31584px 0; }
.sprite-Ranger_C{ background-position: -31668px 0; }
.sprite-Raptor_Bird_A{ background-position: -31752px 0; }
.sprite-Raptor_Bird_B{ background-position: -31836px 0; }
.sprite-Rhino_Beast_A{ background-position: -31920px 0; }
.sprite-Rhino_Beast_B{ background-position: -32004px 0; }
.sprite-Rock_Dragon_A{ background-position: -32088px 0; }
.sprite-Rock_Dragon_B{ background-position: -32172px 0; }
.sprite-Rock_Titan_A{ background-position: -32256px 0; }
.sprite-Rock_Titan_B{ background-position: -32340px 0; }
.sprite-Rock_Titan_C{ background-position: -32424px 0; }
.sprite-Royal_Guardian_A{ background-position: -32508px 0; }
.sprite-Royal_Guardian_B{ background-position: -32592px 0; }
.sprite-Ruination_Dragon_A{ background-position: -32676px 0; }
.sprite-Ruination_Dragon_B{ background-position: -32760px 0; }
.sprite-Rune_Panther_A{ background-position: -32844px 0; }
.sprite-Rune_Panther_B{ background-position: -32928px 0; }
.sprite-Rune_Panther_C{ background-position: -33012px 0; }
.sprite-Rust_Elemental_Ac{ background-position: -33096px 0; }
.sprite-Rust_Elemental_B{ background-position: -33180px 0; }
.sprite-Saber_Tooth_A{ background-position: -33264px 0; }
.sprite-Saber_Tooth_B{ background-position: -33348px 0; }
.sprite-Sap_Elemental_A{ background-position: -33432px 0; }
.sprite-Sap_Elemental_B{ background-position: -33516px 0; }
.sprite-Scythe_Demon_A{ background-position: -33600px 0; }
.sprite-Scythe_Demon_B{ background-position: -33684px 0; }
.sprite-Scythe_Demon_C{ background-position: -33768px 0; }
.sprite-seraph{ background-position: -33852px 0; }
.sprite-Seraph_A{ background-position: -33936px 0; }
.sprite-Seraph_B{ background-position: -34020px 0; }
.sprite-Seraph_C{ background-position: -34104px 0; }
.sprite-Shadow_Elemental_A{ background-position: -34188px 0; }
.sprite-Shadow_Elemental_B{ background-position: -34272px 0; }
.sprite-Silver_Wind_Elemental_A{ background-position: -34356px 0; }
.sprite-Silver_Wind_Elemental_B{ background-position: -34440px 0; }
.sprite-Siphon_Dragon_A{ background-position: -34524px 0; }
.sprite-Siphon_Dragon_B{ background-position: -34608px 0; }
.sprite-skeletonwarrior{ background-position: -34692px 0; }
.sprite-Skeleton_Giant_A{ background-position: -34776px 0; }
.sprite-Skeleton_Giant_B{ background-position: -34860px 0; }
.sprite-Skeleton_Hound_A{ background-position: -34944px 0; }
.sprite-Skeleton_Hound_B{ background-position: -35028px 0; }
.sprite-Skeleton_Hound_C{ background-position: -35112px 0; }
.sprite-Skeleton_Warrior_A{ background-position: -35196px 0; }
.sprite-Skeleton_Warrior_B{ background-position: -35280px 0; }
.sprite-Skeleton_Warrior_C{ background-position: -35364px 0; }
.sprite-Sky_Dragon_A{ background-position: -35448px 0; }
.sprite-Sky_Dragon_B{ background-position: -35532px 0; }
.sprite-Sky_Whale_A{ background-position: -35616px 0; }
.sprite-Sky_Whale_B{ background-position: -35700px 0; }
.sprite-Smoke_Dragon_A{ background-position: -35784px 0; }
.sprite-Smoke_Dragon_B{ background-position: -35868px 0; }
.sprite-Snowhidden_Dragon_A{ background-position: -35952px 0; }
.sprite-Snowhidden_Dragon_B{ background-position: -36036px 0; }
.sprite-Snowstep_Ranger_A{ background-position: -36120px 0; }
.sprite-Snowstep_Ranger_B{ background-position: -36204px 0; }
.sprite-Snow_Assassin_A{ background-position: -36288px 0; }
.sprite-Snow_Assassin_B{ background-position: -36372px 0; }
.sprite-Spike_Frog_A{ background-position: -36456px 0; }
.sprite-Spike_Frog_B{ background-position: -36540px 0; }
.sprite-Spinehead_Undead_A{ background-position: -36624px 0; }
.sprite-Spinehead_Undead_B{ background-position: -36708px 0; }
.sprite-Static_Drake_A{ background-position: -36792px 0; }
.sprite-Static_Drake_B{ background-position: -36876px 0; }
.sprite-Steam_Elemental_A{ background-position: -36960px 0; }
.sprite-Steam_Elemental_B{ background-position: -37044px 0; }
.sprite-Steel_Dragon_A{ background-position: -37128px 0; }
.sprite-Steel_Dragon_B{ background-position: -37212px 0; }
.sprite-Storm_Dragon_A{ background-position: -37296px 0; }
.sprite-Storm_Dragon_B{ background-position: -37380px 0; }
.sprite-Storm_Dragon_C{ background-position: -37464px 0; }
.sprite-Storm_Elemental_A{ background-position: -37548px 0; }
.sprite-Storm_Elemental_B{ background-position: -37632px 0; }
.sprite-Storm_Elemental_C{ background-position: -37716px 0; }
.sprite-Storm_Giant_A{ background-position: -37800px 0; }
.sprite-Storm_Giant_B{ background-position: -37884px 0; }
.sprite-Storm_Giant_C{ background-position: -37968px 0; }
.sprite-Swamp_Elemental_A{ background-position: -38052px 0; }
.sprite-Swamp_Elemental_B{ background-position: -38136px 0; }
.sprite-Swift_Frog_A{ background-position: -38220px 0; }
.sprite-Swift_Frog_B{ background-position: -38304px 0; }
.sprite-Sylph_A{ background-position: -38388px 0; }
.sprite-Sylph_B{ background-position: -38472px 0; }
.sprite-Sylph_C{ background-position: -38556px 0; }
.sprite-Tadpole_Warmage_A{ background-position: -38640px 0; }
.sprite-Tadpole_Warmage_B{ background-position: -38724px 0; }
.sprite-Tar_Elemental_A{ background-position: -38808px 0; }
.sprite-Tar_Elemental_B{ background-position: -38892px 0; }
.sprite-templeguardian{ background-position: -38976px 0; }
.sprite-Thousand_Arm_Demon_A{ background-position: -39060px 0; }
.sprite-Thousand_Arm_Demon_B{ background-position: -39144px 0; }
.sprite-Tower_Spirit_A{ background-position: -39228px 0; }
.sprite-Tower_Spirit_B{ background-position: -39312px 0; }
.sprite-Treant_King_A{ background-position: -39396px 0; }
.sprite-Treant_King_B{ background-position: -39480px 0; }
.sprite-Treant_King_C{ background-position: -39564px 0; }
.sprite-Treant_Sapling_A{ background-position: -39648px 0; }
.sprite-Treant_Sapling_B{ background-position: -39732px 0; }
.sprite-Treant_Sapling_C{ background-position: -39816px 0; }
.sprite-Treebound_Skeleton_A{ background-position: -39900px 0; }
.sprite-Treebound_Skeleton_B{ background-position: -39984px 0; }
.sprite-tremorwurm{ background-position: -40068px 0; }
.sprite-Turtle_Island_A{ background-position: -40152px 0; }
.sprite-Turtle_Island_B{ background-position: -40236px 0; }
.sprite-Turtle_Tamer_A{ background-position: -40320px 0; }
.sprite-Turtle_Tamer_B{ background-position: -40404px 0; }
.sprite-Turtle_Tamer_C{ background-position: -40488px 0; }
.sprite-Twilight_Mirror_Warrior_A{ background-position: -40572px 0; }
.sprite-Twilight_Mirror_Warrior_B{ background-position: -40656px 0; }
.sprite-Twilight_Mirror_Warrior_C{ background-position: -40740px 0; }
.sprite-Undead_Bear_A{ background-position: -40824px 0; }
.sprite-Undead_Bear_B{ background-position: -40908px 0; }
.sprite-Undead_Brute_A{ background-position: -40992px 0; }
.sprite-Undead_Brute_B{ background-position: -41076px 0; }
.sprite-Undead_Brute_C{ background-position: -41160px 0; }
.sprite-Undead_King_A{ background-position: -41244px 0; }
.sprite-Undead_King_B{ background-position: -41328px 0; }
.sprite-Undead_Rider_A{ background-position: -41412px 0; }
.sprite-Undead_Rider_B{ background-position: -41496px 0; }
.sprite-Undead_Samurai_A{ background-position: -41580px 0; }
.sprite-Undead_Samurai_B{ background-position: -41664px 0; }
.sprite-Undead_Soldiers_A{ background-position: -41748px 0; }
.sprite-Undead_Soldiers_B{ background-position: -41832px 0; }
.sprite-Vampire_Lord_A{ background-position: -41916px 0; }
.sprite-Vampire_Lord_B{ background-position: -42000px 0; }
.sprite-void{ background-position: -42084px 0; }
.sprite-voidminions{ background-position: -42168px 0; }
.sprite-Void_Elemental_A{ background-position: -42252px 0; }
.sprite-Void_Elemental_B{ background-position: -42336px 0; }
.sprite-Void_Elemental_C{ background-position: -42420px 0; }
.sprite-Warrior_Angel_A{ background-position: -42504px 0; }
.sprite-Warrior_Angel_B{ background-position: -42588px 0; }
.sprite-Warrior_Angel_C{ background-position: -42672px 0; }
.sprite-Wasteland_Nomad_A{ background-position: -42756px 0; }
.sprite-Wasteland_Nomad_B{ background-position: -42840px 0; }
.sprite-Water_Dragon_A{ background-position: -42924px 0; }
.sprite-Water_Dragon_B{ background-position: -43008px 0; }
.sprite-Water_Elemental_A{ background-position: -43092px 0; }
.sprite-Water_Elemental_B{ background-position: -43176px 0; }
.sprite-Water_Elemental_C{ background-position: -43260px 0; }
.sprite-Water_Manipulator_A{ background-position: -43344px 0; }
.sprite-Water_Manipulator_B{ background-position: -43428px 0; }
.sprite-Water_Manipulator_C{ background-position: -43512px 0; }
.sprite-Water_Serpent_A{ background-position: -43596px 0; }
.sprite-Water_Serpent_B{ background-position: -43680px 0; }
.sprite-Water_Serpent_C{ background-position: -43764px 0; }
.sprite-Werewarg_Alpha_A{ background-position: -43848px 0; }
.sprite-Werewarg_Alpha_B{ background-position: -43932px 0; }
.sprite-Werewarg_Alpha_C{ background-position: -44016px 0; }
.sprite-White_Knight_A{ background-position: -44100px 0; }
.sprite-White_Knight_B{ background-position: -44184px 0; }
.sprite-White_Knight_C{ background-position: -44268px 0; }
.sprite-Windsear_Drake_A{ background-position: -44352px 0; }
.sprite-Windsear_Drake_B{ background-position: -44436px 0; }
.sprite-windstormelemental{ background-position: -44520px 0; }
.sprite-Wind_Frog_A{ background-position: -44604px 0; }
.sprite-Wind_Frog_B{ background-position: -44688px 0; }
.sprite-Wind_Frog_C{ background-position: -44772px 0; }
.sprite-Wind_Spirit_A{ background-position: -44856px 0; }
.sprite-Wind_Spirit_B{ background-position: -44940px 0; }
.sprite-Wind_Spirit_C{ background-position: -45024px 0; }
.sprite-Winter_Angel_A{ background-position: -45108px 0; }
.sprite-Winter_Angel_B{ background-position: -45192px 0; }
.sprite-Winter_Blacksmith_A{ background-position: -45276px 0; }
.sprite-Winter_Blacksmith_B{ background-position: -45360px 0; }
.sprite-wolf{ background-position: -45444px 0; }
.sprite-Wolf_Girl_A{ background-position: -45528px 0; }
.sprite-Wolf_Girl_B{ background-position: -45612px 0; }
.sprite-Wooly_Dragon_A{ background-position: -45696px 0; }
.sprite-Wooly_Dragon_B{ background-position: -45780px 0; }
.sprite-wraithden{ background-position: -45864px 0; }
.sprite-Wraith_A{ background-position: -45948px 0; }
.sprite-Wraith_B{ background-position: -46032px 0; }
.sprite-Wraith_C{ background-position: -46116px 0; }
.sprite-wyldBoss_A{ background-position: -46200px 0; }
.sprite-wyldguardian{ background-position: -46284px 0; }
.sprite-Young_Angel_Archer_A{ background-position: -46368px 0; }
.sprite-Young_Angel_Archer_B{ background-position: -46452px 0; }
.sprite-Young_Angel_Archer_C{ background-position: -46536px 0; }


