#remaining {
    border: 1px solid black;
    float: left;
    border-style: inset;
    border-width: 5px;
}
#results_table {
    overflow-x: scroll;
    border: 1px solid black;
    float: left;
    border-style: inset;
    border-width: 5px;
}

    #results_table table {
        text-align: center;
        color: white;
        background-color: black;
        border-collapse: collapse;
    }

.diagonal-line {
    background: linear-gradient(to right top, #000000 0%, #000000 48.9%,#ffffff 49%,#ffffff 51%,#000000 51.1%,#000000 100%);
}

#results_table th {
    padding: 5px;
}

#results_table td {
    color: black;
    background-color: white;
    border: 1px solid black;
}
